[2021-09-12 17:36] imanewbe opened #4 "Model Missing"
OSError: SavedModel file does not exist at: model/\{saved_model.pbtxt|saved_model.pb}

Can you please help me understand what I am missing?
Can you please upload the model or put in the readme how to create the model?

Thanks

[2021-09-12 17:41] Siterizer commented on #4
Hi. The entire repository is still under construction. (Final touches). When everything is ready I will do a big update to readme and a tutorial on how to properly install / run / etc

[2021-09-12 17:49] imanewbe commented on #4
Sorry, it seems like I was jumping the gun.  I really like the approach and thank you for your time and work.

[2021-09-12 17:49] #4 closed

[2021-09-28 23:49] Kafigueiredo opened #9 "Windows: .exe not response after 1 min, loop bug"
Hi !

After running the .exe, after 2 minutes the app crashes. I think that the loop resets itself without ever going to the end. My logs:
[code]

I'm on windows 11.

Any idea ?

(ps: Thank you for the work already done)

[2021-09-29 01:56] Siterizer commented on #9
Hi, thank you very much! it's all my fault i made a typo in this file:
https://github.com/Siterizer/new-world-fishing-bot/blob/main/functionality/fishing_actions.py
you see that 'r' ad the end of the file? xd. Give me a couple of hours and i will make new release

[2021-09-29 12:22] Siterizer commented on #9
Ok, typo corrected, everything should work. Additionally, when catching a unique fish, the bot will return to the default position of a camera.
https://github.com/Siterizer/new-world-fishing-bot/commit/cfec403a1c82b65807536a01f43b50bc00effa85
  An update for the release was made:
https://github.com/Siterizer/new-world-fishing-bot/releases/tag/v1.1.0.
  If you think everything works then close the

[2021-09-29 12:27] Siterizer commented on #9
Remember to change your game settings :)
https://github.com/Siterizer/new-world-fishing-bot

[2021-09-29 12:48] Trobyss commented on #9
@Siterizer Hi !
[code]

[2021-09-29 13:28] Siterizer commented on #9
@Trobyss

  Yes of course you are right. Sorry for the mistake, but this is my first 'big' project. Thanks so much for noticing this
  https://github.com/Siterizer/new-world-fishing-bot/releases/tag/v1.1.1 (yt viedo inc :DDD )

[2021-09-29 14:10] Trobyss commented on #9
@Siterizer

Ahah don't worry ! Seem's like good know... but I have an issue with camera. I set "B" for camera but after the first fish, my character look at the floor and can't re-use fishing ... any idea ?

[2021-09-29 14:17] Siterizer commented on #9
@Trobyss
  Add me on discord Siterizer#8425

[2021-09-29 16:13] zfradash opened #10 "the bot stops to pull"
The bot finds the fish, pulls it a little and then stops, until it completely loses the fish ...
Once lost, it starts again and then does the same thing.
Otherwise, the auto repair works well.

[2021-09-30 08:47] Siterizer commented on #10
I may know why, can you pls change your visual settings to match this?
![image](https://user-images.githubusercontent.com/48980752/135419604-81cd3a71-a220-472f-a6ab-a4b41e86a5e7.png)

[2021-09-30 09:27] DaGuT commented on #10
welp, at least it helped me a lot :)

thx

[2021-09-30 09:51] Siterizer commented on #10
@DaGuT Okay, so if it's working, i am going to add this to a readme

[2021-09-30 09:54] zfradash commented on #10
It worked for like 1 fish, now i have the same problem

[2021-09-30 09:56] DaGuT commented on #10
does your "green overlay" cover the whole area after the first fish?

Cuz I found it changes position after the first catch sometimes and made my area bigger, now with new brightness, contrast and FoV, it's soooooooooooooooo great at fishing

[2021-09-30 10:15] Siterizer commented on #10
@zfradash try to set positions like here:
https://youtu.be/fxEKNIxCn38

[2021-09-30 11:58] Trobyss commented on #9
U can close the issue ;) thanks for the reactivity !

[2021-09-30 14:47] #9 closed

[2021-09-30 18:39] spot88 commented on #10
Have the same problems. Just stays at "pause"
![image](https://user-images.githubusercontent.com/10884072/135512236-4439d19a-850e-48b8-8cf8-736bb14c03ba.png)

[2021-09-30 23:20] CatsMeow492 opened #12 "Add field for brightness and contrast"
But has issues with detection with different brightness and contrast setting. Need to add more images to resources accounting for different setting and a place to prompt users for current settings

[2021-09-30 23:20] CatsMeow492 commented on #12
Self-assign

[2021-09-30 23:56] moviedatascience commented on #10
I'm running into a very similar issue, but for me I don't enter finding fish

I have adjusted the settings per the video/instructions
![image](https://user-images.githubusercontent.com/7471385/135545735-0b354084-2fc5-4ffd-95ce-d0c82829486a.png)

[2021-10-01 00:15] moviedatascience commented on #10
It seems as though for me the global variable of continue_fishing stays false and I can't find what section is suppose to change that.

[2021-10-01 01:01] Siterizer commented on #12
Sure, can do, but in the next week, would like to have some fun from game itself :D

[2021-10-01 01:05] Siterizer commented on #10
@spot88 @moviedatascience
it's not fault of 'continue_fishing'. Bcs there are all the time cose fishing actions. What fails is the image recognition. Make sure that:
1. You have correct resolution
2. You have correct Graphics settings
3. You have corret brightness
4. Your green rectangle **completly** covers the fishing icons
5. **There are no green/brown/red things in green rectangle** (armor, su

[2021-10-01 09:06] Logoniuss commented on #10
It works poorly, and I set the settings and whatever I do, it still works poorly, more or less at night, and when dawn, everything stops.

Thank you for the free bot and your work, but the quality of the bot is very poor, you need to constantly monitor the process, you need to come up with something to make the bot work universally.

[2021-10-01 09:26] tkien212 commented on #10
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Pause fishing
[INFO] Found a fish!
[INFO] Found a fish!
[INFO] Cast fishing rod
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO]

[2021-10-01 09:40] Logoniuss commented on #10
Which file do you need to edit?

[2021-10-01 09:42] Siterizer commented on #10
Add me on discord, and i will try to help you
Siterizer#8425

[2021-10-01 11:26] nezam7 commented on #12
I agree, bot pauses way too much even when my eyes didnt see any red pixel on rectangle. fish went away and it keeps on repeating

[2021-10-01 19:46] tkien212 opened #13 "Doesn't work properly when it's day time"
The bot works perfectly fine when it's night-time in game. But when it changed to day time, it's unable to detect images properly.\

- Doesn't detect nothing? properly (doesn't cast hook)
- Doesn't detect caught fish fast enough
- Doesn't detect fish is hooked and start reeling, just sit there and wait for fish to run away

Graphic Settings:
https://i.imgur.com/vLlUsvW.jpeg

[2021-10-01 20:28] Hexalyse opened #14 "Multi-threading to have a better reel-in"
I took a look at your bot (since I was hesitating to make one myself, and good job on doing this, it's clean - I just added some more "organic" pauses where there were some sleep with fixed timings that could be seen as a bot) and noticed that for the reel in phase, you just reel in for a certain time, then check if it's green/orange/red. Which forces the bot to stop reeling in, even when it's sti

[2021-10-01 21:21] Siterizer commented on #13
@tkien212 You know to be honest with you, a lot of people using the bot right now and everything is working. My teory is that your character is looking at something other than water (leaves, grass etc) and in the night-time the colors changes and are 'killing' the bot. Try to set the position like that:
https://i.imgur.com/usQXgFh.png
You see? mostly water

[2021-10-01 21:25] Siterizer commented on #10
I think i am going to close the issue.
  Out of the ~ 22 people who contacted me today, there was no one that I wouldn't help.

  It's all about configuration your fishing position. In the future i will try to make the bot more 'immune; to such things or create yt video

[2021-10-01 21:25] #10 closed

[2021-10-01 21:29] Siterizer commented on #13
if it's still not working contact me on discord Siterizer#8425

[2021-10-01 21:37] Siterizer commented on #14
@Hexalyse Yes! it's excelent idea. It should be noted, however, that for people with weaker computers such 'reeling' may last long enough that the rope will be broken before the next action is detected (some fishes are hard to catch when using basic fishing rod). Therefore I decided that 'reeling' the fish should work for a certain number of seconds.

Thank you for the proposal to expand the app,

[2021-10-01 21:40] Hexalyse commented on #14
Ah yes indeed... I didn't think about the fact that on lower end CPUs (especially with the game running), detection with opencv might take a noticeably long time.

It would be good then, to allow the user to choose between the two modes of reeling. It would complicate the code somehow, but it's the most flexible option.

I still didn't try PvP despite being lvl 20+. I need to start looking how it

[2021-10-01 21:44] Siterizer commented on #14
@Hexalyse You should definitely try teritory claims, fun as hell XD

But about the configuration yes, it would be a perfect solution. In the future i even wated to move all of the variables in the config.xml to the user interface

[2021-10-01 21:44] #14 closed

[2021-10-01 22:20] blitzy13 opened #15 "Straight up not working."
The program log shows it is detecting the actions in the gamewhen i fish manually, but it does not seem capable of doing the fishing itself.

[2021-10-01 22:38] blitzy13 commented on #15
Ope my bad, i sort of got it working. although abobut half the time a fish is on the line, the log says Pause Fishing and stops reeling in

[2021-10-01 23:18] tkien212 commented on #13
thanks for the info. I was referencing to the picture under 'Usage Guide' where you looking at tree/grass also (with green box)
I didn't know i should look at water

[2021-10-01 23:18] #13 closed

[2021-10-01 23:24] tkien212 commented on #15
you probably have the same problem as mine
your whole screen needs to be water (look straight down)

[2021-10-02 02:33] eXqusic opened #16 "Feature requests."
Can we get the following please? :)
- Use bait
- Customizable keybind to toggle the start fishing button.
- Randomized delay
- Obfuscation

[2021-10-02 04:58] Mishixp opened #17 "does not work for me"
Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_functions.py", line 47, in start_fishing
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 28, in call_appropriate_fishing_action
  File "functionality\image_recognition.py", line 17, in image_recognition_r

[2021-10-02 06:04] Siterizer commented on #13
@tkien212 You don't have to in most cases. In my opinion the best way to use te bot is to find a river, with rock/mountain background. Do a few tries with position and you should be gucci (it may seem suspicious as you keep staring at the water)

[2021-10-02 06:23] Siterizer commented on #16
Sure, they look like very good ideas, btw what do you mean by 'Obfuscation'?

[2021-10-02 06:25] Siterizer commented on #15
one guy had issue with the red color of their character hairs xd. It's hard in some cases to get the bot running. But when it's done bot can fish 24/7. But remember to not leaving him alone in case of the administrator would like to visit you

[2021-10-02 06:29] Siterizer commented on #17
What is you windows version. Is it 10? It looks like some of the windows build in files are not working. If i were you i would reinstall the system.
  One guy had the same issue, so he download python, libraries and ran the code directly from python

[2021-10-02 07:06] caseyjames95 opened #18 "Small bug"
Good afternoon! Everything is solid but I run into one small problem. Once gosh is hooked it’ll start to reel the pauses for too long and fish gets away. I tried playing with pause times and couldn’t come up with any results.

 If help it get passed the initial reel in, I’ll finish everything off just fine. Maybe it’s user error? Everything looks great though thanks for the awesome crispy.

[2021-10-02 07:10] eXqusic commented on #16
Obfuscation when compiling it to an exe to prevent new world anticheat seeing it as the same program on a lot of computers.

[2021-10-02 07:25] blitzy13 commented on #15
My bad seems like i just needed to finagle it for a while, although i watched it for about 3 hours it worked great, I left the house for a bit and got kicked, not sure if it was afk or what it was.

[2021-10-02 07:25] #15 closed

[2021-10-02 07:45] Siterizer commented on #18
Do after starting The 'minigame' The output od only like
Pause
Pause
Pause
Pause right?
If so you should check if on the area of green rectangle are any red colors (hair, armor weapon, sun etc)

[2021-10-02 10:44] bonxz opened #19 "Bannable?"
I this thing here bannable or even detectable?

[2021-10-02 10:44] bonxz commented on #19
I this thing here bannable or even detectable?

[2021-10-02 11:37] nezam7 commented on #19
Don't think so.. Unless you use it extremely heavy and reported by someone else.

[2021-10-02 11:38] nezam7 opened #20 "Some good spot?"
Can someone share their spot which has better 'non pause' detection? Even when dawn

Kindly share your brightness setting as well.

[2021-10-02 15:04] raphalimam commented on #20
Dont know any good spot to fish, you can search in the internet, but if it's just tu avoid the the pause because of the colors, you can just aim totally at the water, so only it appears on the screen, so far that worked for me.

[2021-10-02 15:05] BenJ180 opened #22 "Delay in hooking"
Hey guys. For some reason the bot tries to hook just after the hook has been missed, like its a bit too slow. Any way to change this?

[2021-10-02 15:49] DaGuT commented on #16
https://github.com/Siterizer/new-world-fishing-bot/pull/21

if you use python version, you can try that PR with bait usage :)

[2021-10-02 16:00] Siterizer commented on #22
Try to make The rectangle smaller. The smaller The rectangle The fever pixeles The bot have to check. The faster the bot will work

[2021-10-02 16:07] Siterizer commented on #19
it depends, if you plan to leave the bot for 24 hours unattended and the admin will pay you a visit, it may not be too interesting. But from the purely 'hardware' level, to my knowledge, its hard to detect it (if they could, it would be a lot of bans by now)

[2021-10-02 16:11] #19 closed

[2021-10-02 16:26] nezam7 commented on #20
Sometimes the dawn light still affecting me. But thanks for the idea

[2021-10-02 16:31] caseyjames95 commented on #18
I’ll try that out and make the area smaller. But yes right after I hooks it’s does

Pause
Pause

then the fish unhooks

[2021-10-02 16:44] DaGuT commented on #22
there is a high chance your pc is now powerful enough to process zone you have set with a delay set in config.

Go to https://github.com/Siterizer/new-world-fishing-bot/blob/main/resources/config.yml

Find
[code]

[2021-10-02 16:52] Siterizer commented on #22
@DaGuT don't think that change timeout will help. Notice timeout is The time bot holds mouse after noticing the fish. Do It wont help with too slow processing

[2021-10-02 18:36] oytuns commented on #17
same error how to fix

[2021-10-02 19:34] jindoggo96 opened #23 "is it safe ?"
https://www.virustotal.com/gui/file/8d0e3be5c06e4de00a50053f579caeca94d313630a83be387ff8c31b3fedfa3f

[2021-10-02 19:38] Hexalyse commented on #16
Don't use a .exe then. Just run the code via Python, it does the same and you don't get a .exe that can be checked against a list of filehashes. Also, it's more secure since it removes the need to trust the .exe you're downloading.

[2021-10-02 19:39] NoNick96 opened #24 "Please add an ability to choose a display for multidisplay setups."
Right now the bot only uses the monitor that's set as primary.

[2021-10-02 19:40] Hexalyse commented on #23
You could just download the code and run it with Python. Then you don't have to trust the maintainer of the repo uploading a .exe that is "safe".

It's not that hard : install python, execute the few `pip install` commands given in the readme, and run the bot.py file.

[2021-10-02 20:08] deadbandit opened #25 "Can't "stop fishing" the program stops responding 100% of the time. Also.."
It seem the maximum amount of time I can wait to hook a fish is 13seconds, It almost always takes longer.

[2021-10-02 21:02] deadbandit commented on #25
The not being able to stop fishing is alright, since I can force the stop through task manager, but I can't catch any fish because it literally never waits long enough, even after I set the time to 20-30 seconds. It's like at 13 seconds max.

[2021-10-02 22:32] RRadziejewski opened #26 "Bait ?"
Hello,

Can we expect for this bot to use bait ?
Also is it possible that it is less laggy ? I saw some solution with pyatogui 40 lines of code and no lags at all.

Regards

RR

[2021-10-02 22:33] raphalimam commented on #24
Had this problem, to try to get around is using an vm, so i Van put The game in The second monitor, or you can change in Windows The primary monitor and secundary.

[2021-10-03 00:04] Grouik33FR opened #27 "Few bogue"
First thank for the amazing job !

i notice two issue :

it s seems impossible to use the stop fishing button.
I have to kill the process of the bot.

Second is the bot staying in pause inifitly sometime. For exemple when fishing a chest where the tension color could be red all the time and do not go back green after some time. Is it possible to setup a « time out » for the pause meccanisme ?

tha

[2021-10-03 00:41] gssantos94 opened #28 "Other screen resolutions"
It would be possible, who knows later, some change that allows the operation in a lower resolution, such as 1280x720.

[2021-10-03 01:10] rogeriocamorim commented on #23
Also, no "hack / bot" is 100% safe if you are left unattended. Do not run it 24/7. it is not humanly possible.

[2021-10-03 01:11] rogeriocamorim commented on #25
Upvote this one.

[2021-10-03 02:12] caseyjames95 commented on #18
This is all good I realized I misread he contrast #

[2021-10-03 02:24] MrGEnatgr opened #29 "no interface"
hello no interface shows up when i run the bot.py

[2021-10-03 03:53] hurrr-boop opened #30 "Bugs/improvements"
1.Sometimes when you catch a fish the camera will rotate 90 degrees to another angle, and you can begin fishing on land, rendering the bot useless.

2. You cannot stop fishing as the program will crash everytime.

3. Let us save a preset on our co-ordinates for green squares.

[2021-10-03 06:25] DaGuT commented on #30
for 3 - just set it, close the app and then reopen. It'll be saved

for 1 - I guess, you missed requirements of setting B to free camera?

[2021-10-03 06:25] DaGuT commented on #26
https://github.com/Siterizer/new-world-fishing-bot/pull/21

[2021-10-03 07:46] BenJ180 commented on #22
Hey guys, confirmed that a smaller search box fixed the issues :)

[2021-10-03 07:51] Siterizer commented on #29
You downloaded The source code, bot The bot.zip

[2021-10-03 07:51] #29 closed

[2021-10-03 08:30] Siterizer commented on #30
I think i know why are there The crashes. The sleeps'' on the code sometimes can take too long. I will try to make global 'waiting' function. And instead of waiting 6secs IT will wait 12 times 0.5sec. and after each small wait check if The user clicked stop fishing

[2021-10-03 08:32] Siterizer commented on #28
Sure, i will put this after all other requests

[2021-10-03 08:35] Siterizer commented on #27
@Grouik33FR The time when bot catches that special fish where the icon od red all The time is hard to catch. Bcs bot is searching for Red/Brown/green colors.

But maybe setting pause timeout very low, like 0.4s can help with this. You can chsnge this timeout in resources/config.xml

[2021-10-03 08:35] #27 closed

[2021-10-03 08:37] Siterizer commented on #26
Exactly. The only think that stop this to going master od to test it by myself 🙂

[2021-10-03 08:37] #26 closed

[2021-10-03 08:39] Siterizer commented on #25
@rogeriocamorim @deadbandit Could You pls send here a screen with terminal output? Can't guess what is wrong  but this will help

[2021-10-03 08:41] Siterizer commented on #24
@NoNick96 okay, can You test for me if you can set The area of green rectangle to the other monitor? (The one that is not primary)

[2021-10-03 08:44] Siterizer commented on #23
That's right. The python version is the best way to run the bot. What if (for example) someone will take over my github account and replace bot.zip with other zip file that is virus. You never know what is inside .exe file.

[2021-10-03 08:44] #23 closed

[2021-10-03 08:46] #22 closed

[2021-10-03 08:52] Sanerrr5 opened #31 "often after the animation of the fish catch the camera does not return"
often after the animation of the fish catch, the camera does not return and the character throws the fishing rod into the wall or floor

[2021-10-03 08:59] Siterizer commented on #31
@Sanerrr5 Are You sure You set the free-look camera to 'b'?
It is important bcs in case of rare fishes the camera rotates, and the bot will try to return camera with 'b' button

[2021-10-03 09:06] Sanerrr5 commented on #31
Yes, I'm sure

[2021-10-03 09:08] Siterizer commented on #31
Then i have no idea, add me on discord and i will try to help (i am out od pc right now, will be there on ~6h)

[2021-10-03 09:08] Sanerrr5 commented on #31
ok, on youtube and github I have met comments from people with the same problem

[2021-10-03 10:08] #18 closed

[2021-10-03 10:10] Siterizer commented on #17
@oytuns I don't know 😞 The problem is it's about your windows and no The bot code itself. So i can't reproduce it on my pc. Instead of running .exe file You should download install and run python version

[2021-10-03 11:12] hurrr-boop commented on #30
Hey, No the Free camera is set to B :)

[2021-10-03 15:06] Kerozen07 commented on #17
Ohhh no, same for me 😞

[2021-10-03 15:10] Siterizer commented on #17
@Kerozen07 sorry, i don't know how to help with that. That is beyond my knowledge

[2021-10-03 17:38] Mishixp commented on #17
I ll try that, thanks for answering.

[2021-10-03 19:01] Wahiys opened #32 "Always hook, right after fish run away"
Always hook, right after fish run away, if hook manyaly  hes just stay and wait till fish run away too

[2021-10-03 20:01] turqoisehat opened #33 "Never catch fish?"
I have it casting the rod but he never pulls the fish at the right time after one is on the line? it always gets away or he pulls too early??

[2021-10-03 20:23] Culain commented on #33
can confirm. he seems to not see the "fish is biting icon"

[2021-10-03 20:28] deadbandit commented on #25
I don't know how to do that.

[2021-10-03 21:16] turqoisehat commented on #33
Trying to play with settings to get it to catch even one fish, its not happening

[2021-10-03 21:27] turqoisehat commented on #33
NEVERMIND
Works perfect after i get out full screen

[2021-10-03 22:42] Slizzley opened #34 "Suggestion for better "notice" the hook!"
You can add one more green-square for selecting the 'exact' coordinates of the Hook! thing. Then the bot will not search all the big green square to find fish is found notice.
Sorry for bad english

[2021-10-03 23:08] Siterizer commented on #34
@Siterizer wow. That may be solution to run the bot on low-end pc's. Sounds very cool

[2021-10-03 23:09] Siterizer commented on #33
happy to hear that :DD

[2021-10-03 23:09] #33 closed

[2021-10-03 23:14] Siterizer commented on #32
@Wahiys like he is too slow to response?
try to make the rectangle smaller. It will run faster

[2021-10-04 01:19] Logoniuss opened #35 "Application lags"
After clicking on start, the application works well, but the application cannot be stopped, it simply freezes and you have to close it in the manager. Correct it.

[2021-10-04 01:37] Siterizer commented on #35
yea, i know already answered here:
https://github.com/Siterizer/new-world-fishing-bot/issues/30

[2021-10-04 01:37] #35 closed

[2021-10-04 03:08] rogeriocamorim commented on #25
There is no termial output.
Simple when you start fishing you can not stop unless you close the terminal

[2021-10-04 03:10] rogeriocamorim commented on #24
Not possible. My main is on the right and second on the left.
X;0 y:0 set to the corner of the main./
Even high numbers make the box disappear.

[2021-10-04 04:29] #20 closed

[2021-10-04 07:10] krinzler opened #36 "Reeling Too Early"
Hi,
Thank you for the awesome script mod!
A problem I've been facing is that from the time I cast my fishing line, my character attempts to reel in too early, before any fish is found.

[2021-10-04 07:22] Vorbild commented on #31
Could you find a fix for it? I didn't had the problem yesterday but have it now.

[2021-10-04 09:16] spot88 commented on #24
I can confirm this.

[2021-10-04 09:35] MioPG opened #37 "can not open exe file"
when i finish setting, including game setting, rectangle and repair  position, and press "start fishing"

i can't press "stop fishing" to stop, and file is crashed,  after all i can't open exe file any more.

even i download new file, still can not open it

is something bug like local cache need to be cleaned?

[2021-10-04 11:34] random7383 commented on #36
happens the same to me. I cant get it to work

[2021-10-04 12:36] Siterizer commented on #37
@MioPG You mean that after .exe crash you can't run this enymore? that's strange. Maybe check if your antivirus is not blocking the bot

[2021-10-04 12:37] Siterizer commented on #36
What's the bot output in ther terminal, is it
Cast fishing
Cast fishing
Cast fishing
etc?

[2021-10-04 13:51] Vorbild commented on #34
I had the problem _**once**_ that the bot was just moving forward by attacking with left mouse button because there was no Fishing rod equipped. Could also fix this problem by a simple check if the hook symbol is there.

[2021-10-04 14:37] dsire0 commented on #36
Same exact issue. On the rare occasion it does pull correctly, it does not reel in the fish unless i manually start it!

[2021-10-04 14:55] random7383 commented on #36
It says this in my case
https://gyazo.com/850dc81dca78e432a1e507aea2c45c6b

[2021-10-04 15:51] NoNick96 commented on #24
Tested, same situation as @rogeriocamorim .

[2021-10-04 17:10] dsire0 commented on #36
So it works perfectly at night. During the day it reels the fish sometimes, mostly misses and often pulls too early. And when it does reel it does so sporadically

[2021-10-04 17:53] Siterizer commented on #36
add me on discord Siterizer#8425 i will try to help you, there are a lot of thinks that could go wrong

[2021-10-04 19:11] Siterizer commented on #36
Pls make sure, you NEED to have following settings:
Resolution 1920x1080
Window Mode **WINDOWED** that is very common issue it must be windowed even if you set 1920x1080 resolution
Brightness: 45
Contrast: 35
Video Quality: Low
Windows Scale 100%

These are the most common issues i found. Also try to remove your armor/weapons (red/green/brown colors
could confuse the bot).
You can even try to look

[2021-10-04 21:10] random7383 commented on #36
Using WINDOWED MODE and further tigthening the green box fixed everything.
To give more context my monitor is 1440p native and I was using 1920x1080 res fullscreen.

[2021-10-04 23:56] JKamsker commented on #25
You can stop.
The issue is that the app is single threaded and the gui only respons between each console message.
Best way of stopping is waiting till it waits for the fish.

[2021-10-04 23:58] VinnyPo0 opened #40 "Pause fishing"
Hi,
I was able to use the fish bot with no problem at first, but then this problem arise when I press "start fishing", all it would do now is output "pause fishing" (I'll attach a picture). I'm using the recommended settings, Windows mode, low graphics, and binding B to freelook, not sure what the issue is.

[2021-10-04 23:59] VinnyPo0 commented on #40
![unknown](https://user-images.githubusercontent.com/73668631/135939992-84c4ff60-c1f4-42dd-83ee-d3f260a4bf82.png)

[2021-10-05 02:56] Siterizer commented on #40
@VinnyPo0 it means, the bot spotted something red. Try to remove you clothes, don't look at the sun etc

[2021-10-05 04:22] Logoniuss commented on #40
You need to come up with something new, because taking off your clothes attracts the attention of the players and they can complain.

[2021-10-05 04:33] yobson1 commented on #31
it seems freelook sometimes get's stuck on in new world and this is when the issue arises

[2021-10-05 05:07] JKamsker opened #41 "Endless Casting"
After some time the bot just casts the fishing rod and does no real fishing anymore

https://gist.github.com/JKamsker/31c21425b6b47dbf7a9f96200750f2f5

[2021-10-05 05:30] Siterizer commented on #31
@yobson1 @Vorbild @Sanerrr5 one of the guys found out that, to fix that you have to click 'restore defaults' on keybinds, and assign 'b' once again. It looks like game issue. If it solved your problem close issue

[2021-10-05 05:32] Siterizer commented on #41
@JKamsker my idea is that, your in game camera moved and the fishing icons went away of the rectangle. Could you confirm that?

[2021-10-05 06:12] #36 closed

[2021-10-05 06:15] JKamsker commented on #41
Could be, but i did not move my mouse as i was asleep in that time and the bot clearly did catch something before.

[2021-10-05 06:31] yobson1 opened #42 "New World never catch issue"
Sometimes the catch will bug at 0.0m and will never actually be caught, the tension display was orange during this and I had to manually hold LMB to purposefully break the line for fishing to be able to continue. Obviously this is a New World bug but could be mitigated within the bot, perhaps just check if we've paused on orange for X number of seconds assume it's bugged and just hold LMB until th

[2021-10-05 06:39] xenouch commented on #41
Are you sure you use good settings ? Because 80% of issues is for that. I bot 6/7h day and never have issues. My cloth are green and no problem...

WINDOWED, MAX ZOOM-IN, Free camera on B...

[2021-10-05 06:39] xenouch commented on #42
You use good settings ?

[2021-10-05 06:40] xenouch commented on #40
Are you sure you use good settings ? Because 80% of issues is for that. I bot 6/7h day and never have issues. My cloth are green and no problem...

WINDOWED, MAX ZOOM-IN, Free camera on B...
And maybe for you Brightness and Contrast ?

[2021-10-05 06:40] yobson1 commented on #42
Did you read the issue? This is a feature request for mitigating a bug within new world, not an issue I am having with the bot.

[2021-10-05 06:46] xenouch commented on #42
Yeah i read, and dont have this issue...

[2021-10-05 06:55] Siterizer commented on #42
@yobson1 that's very strange bug. I never had the issue you are talking about. Can you make a prt scr next time and show me how does it looks like?

[2021-10-05 06:56] Siterizer commented on #40
@Logoniuss you just need to remove everythink greed/red/brown from your green rectangle. Taking off clothes is the easiest way

[2021-10-05 06:56] #40 closed

[2021-10-05 06:57] yobson1 commented on #42
Sure. To be clear it's certainly a bug with New World and not an issue with the bot. Would just be good to mitigate it within the bot so that in the event it occurs it doesn't prevent fishing from continuing. I've only seen it happen once so far so not sure how often it occurs.

[2021-10-05 07:00] Siterizer commented on #42
@yobson1 maybe something like
  'if the bot sees 'pause' icon for 4th in the row make 'reel' instead'
how do you think about it?

[2021-10-05 07:02] yobson1 commented on #42
That could work but it would depend on the user's setting for how long a pause is, if someone has their pause time set lower than usual it may trigger false positives.

[2021-10-05 07:09] Siterizer commented on #41
@JKamsker look at this issue:
https://github.com/Siterizer/new-world-fishing-bot/issues/31
there is a bug in the game, when the the 'free look' button does not work.
If you could restore your keybinds to default, assign 'b' again before next time you fish. Maybe that would do the work

[2021-10-05 07:12] DaGuT commented on #42
ow, I had that problem with permamently stuck at 0 indicator. It happens pretty often.

[2021-10-05 07:15] Siterizer commented on #42
Will leave here a note to myself:

This should work like this:
  If pause is noticed, and the
    (sum of the last pauses in a row) * (pause interval) > 5.0:
      reel()
  else:
    pause()

[2021-10-05 11:34] rainbow-shaman opened #44 "Bot spamming Pause"
Start the fishing bot, it spam Pause non stop
https://imgur.com/cp3kQLQ

[2021-10-05 13:45] artemsiberiangit opened #45 "shutdown due to inactivity"
There is a shutdown due to inactivity, it is required that the character moves from the point every 5 minutes.

[2021-10-05 14:14] yobson1 commented on #42
Here's what it looks like, the tension meter will stay exactly like that and the fish will never be caught.

![Screenshot](https://i.imgur.com/VPVxlbl.png)

[2021-10-05 14:24] DaGuT commented on #42
got one in red zone :)

![image](https://user-images.githubusercontent.com/7759336/136042436-86c0f582-167f-4c59-be9f-e3eea4a36260.png)

[2021-10-05 16:28] tallglen commented on #45
I was playing last night and when my pole broke, the clicks from the bot attempting to cast enabled me to stay logged in for 6+ hours until the next morning.  I don't think movement is required unless your server got some new AFK detection logic added.

[2021-10-05 17:56] Anelfe opened #46 "After hooking, Bot either does reels it in or never stops reeling it in"
Per title.
I have tried adjusting the timeout to mitigate/prevent the cases of the bot never stopping the reeling process, after which, the bot either still does not stop or stops instead of pausing.
However, the former condition is most prevalent, I have attempted to minimize the size of the detection rectangle as much as reasonably possible as per suggestions in earlier threads, to around 300x65

[2021-10-05 20:10] SeattleBLACK opened #47 "Suggestion for repair position"
Comes from a bot I've been working on myself, pretty new to programming in general so I suppose this is meant to just be a concept. I've used yours in the mean time until I get mine working, so hope I could help contribute in some way.

Basically I found the sliders for the repair position a little tedious, so I thought a hotkey to set it would be nice. The idea is to have the user move their mous

[2021-10-05 20:24] Mpaulo opened #48 "It doesn't work on windows 11"
everytime i try to use it on windows 11, the console keep trying stop the bot, sometimes it cast the rod, but it fails to catch the fish and try to stop again.

[2021-10-05 21:28] Beddarm opened #49 "Most Important Feature this could possibly have."
We need an auto cancel on fish based on rarity.  So that way if we only want Blue or whatever rarity we can tell the program to only get those fish and to reject all others.  That way when we come back we will have a bag full of gold....I mean rare fish.

[2021-10-05 21:52] Siterizer commented on #49
Sorry, the goal would be to create a bot that mimics the human, so sorry buit not

[2021-10-05 21:52] #49 closed

[2021-10-05 21:59] ZhycerID opened #50 "Bot"

[2021-10-05 22:46] Siterizer commented on #45
probable the bot crashed i heard that it can happen. Working on this

[2021-10-05 22:46] #45 closed

[2021-10-05 22:48] Siterizer commented on #44
Pause apears when bot spot some red color. Try to change position to river/lake/ocean. Check if you have any red/orange/brown armor hair etc

[2021-10-05 23:57] Mpaulo commented on #24
you got it working on Vmware? tried with workstation but it doesn recognize the hook

[2021-10-06 02:04] vpechenik commented on #17
Can you write how to do it? Never used python

[2021-10-06 02:39] Mpaulo commented on #41
i got the same problema, when "lag" happens, the animation just freeze and the bot doens't do anything. it would be interesting something to cut the line when you go a long time without fishing

[2021-10-06 02:51] BHare1985 opened #51 "Doesn't stop casting"
It just keeps casting and canceling.

I changed all the things suggested in the readme (even putting my window scaling to the god awful 100% on a 4k monitor). I tried fullscreen and windowed. I run a pretty good gaming PC and I tried various sizes about half the size of how it starts.

[2021-10-06 04:10] baesjunk opened #52 "Shows Info pause fishing right after runing"
After running the program, it stays on [INFO] pause fishing status for a long time.

[2021-10-06 07:01] baesjunk commented on #52
could be the sun changes color of the ground to the same shade of brown  in the fishing icon.

[2021-10-06 07:31] 01d5ch001 opened #53 "Rod getting repaired way too often?"
I've set the green box for the rod repairing in the top left corner of the rod icon (as on the screenshot).
I don't know if it's intended or not but the script repairs the rod when it's durability is above 90% which means it uses a lot of repair parts when not needed.

Am I setting it up wrong or it's intended to repair that often?

[2021-10-06 07:42] Logoniuss commented on #53
There is also a setting in seconds, the default is 400, change it as much as you need.

[2021-10-06 07:44] 01d5ch001 commented on #53
@Logoniuss oh wow, I didn't even noticed it... Thanks, now it makes more sense :D

[2021-10-06 08:49] jordan351 opened #54 "Running in VMware Workstation"
Hi there,
I'm trying to make it work through a VM, cause I need to use my PC during botting and not just looking at it ^^

It always pulls too early while no fish bites.

Without using any VM, it works, but not inside :'(

[2021-10-06 11:09] #53 closed

[2021-10-06 13:19] seedlord opened #55 "Log Level Behaviour '0'"
If there is no recognized result_from_model it will spam the console with "Waiting for fish...".
It would be nice to have this message only appear 1x until the next fish.
Corresponding code from functionality/fishing_loop.py:
[code]
Im not that familiar with python but i thought something like this:
[code]
and in one of the other cases 1-4 onetimehelper should be set to 0 again.

[2021-10-06 14:51] nezam7 opened #56 "Suggestion : Make a profile tab"
Id love to have a different profiles tab where I could switch whenever I park to different place.
Each of the the profile just saves the config of the rectangles and so on. Simple as that.

[2021-10-06 15:51] Siterizer commented on #54
i don't know much about using VM.
But as far as i know there could be a problem with setting the proper resolution
Could you pls tell me what's the terminal output?

[2021-10-06 15:56] Siterizer commented on #47
Hey, that's a pretty cool idea, thank you will think about that in next releases

[2021-10-06 21:57] #51 closed, assigned to Siterizer

[2021-10-07 05:10] tallglen opened #57 "Edge Case: Reel Circle is full but color is non-green"
I've started observing some edge cases where the fish is almost reeled in completely and the white reel circle has come "full circle" but the color gets stuck at a non-green.

Would it be possible to scan for a fully completed white ring and then hold down the mouse button to complete the reel-in?

[2021-10-07 05:48] hotpoopy commented on #54
how did you manage to run new world on VMWARE? i tried but it gave me an error about meeting minimum requirement

[2021-10-07 10:13] rainbow-shaman opened #58 "Game disconnect you after 20 mins also"
So since the new Update 1.0.1 the game now can detect you if you are going AFK Botting/Macro

Anyone else having this problem ? the game disconnect me 2 times today while the fishing bot is on

[2021-10-07 12:42] DamienShahan opened #59 "Cast fishing rod, pause for 6 s, cast fishing rod - all while missing hooks"
Hello,
I currently have the issue, that the bot casts the fishing rod then pauses for 6 s. In this time when a hook happens, it misses the hook. In game it says "MISS - TOO LATE".

I have the correct contrast, brightness and the fishing rectangle exactly over the hook. I have also reduced the size of the rectangle, incase that was the issue, but it has not helped.

Here are some screenshots:
https

[2021-10-07 12:49] Wahiys opened #60 "[INFO] Pause fishing"
now bot do nothing except pause

[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing
[INFO] Pause fishing

[2021-10-07 14:38] UmbertoDV opened #61 "Question"
is it possible to make the fishing rod reach the maximum length?

[2021-10-07 15:15] RItnook opened #62 "Sudden multiple issues after update"
First let me state that all settings are correct, everything low, brightness/contract 45/35, and windows scaling 100%. Before this, the bot would work great and would only bug out most likely due to new world issues every 1-3 hours (either with fishing rod getting stuck in casting mode, or the fish icon being stuck as you're reeling in)
However now I cannot get the bot to work very much at all, at

[2021-10-07 15:55] #61 closed, assigned to nobody

[2021-10-07 16:43] Slizzley opened #63 "[Question] Sound macro"
Your bot working with pixels. Is there a way to make a bot working with sounds?. As you know the fishing "Hook!" "Reel" sounds can be used to automatic fish.

[2021-10-07 17:31] RItnook commented on #62
*update
Seems to be fixed by adjusting my contrast settings. The only issue now which was already posted by others is the icon getting stuck on new world which is obviously on new worlds end.

[2021-10-07 18:05] Mpaulo opened #64 "Some problens and suggestions"
I tested the bot for a few days and I thank you for the great work

- However, I had a few problems with usability. I've tested several settings trying to make the greenscreen as small as possible, but I still have some lost fishs (only with the most difficult).
We know that rarer fish require a little more work and in most of them the bot fails to catch .
It would be interesting a quicker respons

[2021-10-07 18:50] raphalimam commented on #64
You can cnhange the variation of time for the throw of the hook in the config file, the stop bot problem he alredy know and pretends to fix, but a workaround is to only try to stop the bot while he is in the waiting for fish process, the stop is buggy because the 6 seconds pause betwen fishing, but if the fishing alredy started you can stop it easily, you can also reduce the amount of time pressed

[2021-10-07 19:07] #58 closed, assigned to nobody

[2021-10-07 21:49] Krampus12 opened #65 "cv2.error"
Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_functions.py", line 47, in start_fishing
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 28, in call_appropriate_fishing_action
  File "functionality\image_recognition.py", line 17, in image_recognition_r

[2021-10-08 00:12] GeT-TrOlL opened #66 "fish bot facing issue"
i dont know why but the bot sudden cannot turn the facing direction into the original direction so the fishing stop after fish a tier 3 or higher fish
and i do set the free look button into "b"

[2021-10-08 00:15] #57 closed

[2021-10-08 00:17] Siterizer commented on #65
https://github.com/Siterizer/new-world-fishing-bot/issues/17
Sorry but i don't know how to help you :(

[2021-10-08 00:17] #65 closed

[2021-10-08 00:18] Siterizer commented on #25
i will close the issue, that thing (i hope) will be covered in next update

[2021-10-08 00:18] #25 closed

[2021-10-08 00:20] Siterizer commented on #64
@raphalimam thank you for your replays, especially when I have too little time to visit github :)

[2021-10-08 00:20] #64 closed

[2021-10-08 00:22] Siterizer commented on #63
Wait that's actually rly good idea. I could even train a model via neutral network with all the sounds. Thanks for the advice!

[2021-10-08 00:22] #62 closed

[2021-10-08 00:23] Siterizer commented on #32
@Jeusey what's are the terminal responses?

[2021-10-08 00:24] #37 closed

[2021-10-08 00:26] Siterizer commented on #41
@Mpaulo i guess you are talking about that:
https://github.com/Siterizer/new-world-fishing-bot/issues/42
but anyway i will close the issue

[2021-10-08 00:27] #46 closed

[2021-10-08 01:30] Jeusey commented on #32
It seems to be working now, i just messed around with the box and it fixed it.

[2021-10-08 16:10] D-main opened #68 "Fish bot, trouble with bait"
Hello developer, great bot, thanks for your work. But something needs to be done.

After the character repairs the fishing rod, the mechanics of the game drops the bait from the rod, the bot naturally does not put it on and continues to fish without bait.

[2021-10-08 16:59] tallglen opened #69 "Repair Kit Support"
May we please have an option to be able to use Repair Kits to repair?

When you have repair kits in your inventory, the key combination on click to repair the pole is T+click, then the same E to confirm.  I run out of repair parts frequently so I now buy repair kits.

[2021-10-08 18:01] Oplateks opened #70 "Cant make this to work :("
So most of the process works great! (Thank you!)
Could anyone give me any advice, how to fix this pls?

Everything works fine until the reeling. The bot starts reeling and releasing, but about halfway through it just stops completely. At this moment it just wants to start over. :(

Thank you!

Edit: or , it waits for fish, and it finds one, activate the reeling, but instead of reeling, it wants to

[2021-10-08 18:36] raphalimam opened #71 "Post about things that could be put on the bot."
I wil leave here somethings i found on others types of fishing bots for others games that i think it may be good to put on it to quality of life style but i do believe that it would make the bot cpu heavy and I dont know how much this things can influence

To avoid the problem with colors you could use the icon when its green to only reel when it sees it, it probably would make the fish slower in

[2021-10-08 19:54] mherasevich opened #72 "Startup issue"
I faced with the error while tried to run the bot:

[code]

package list:
[code]

Python version:
[code]

Please help me to solve this issue 🙏

[2021-10-08 20:40] Culain opened #73 "rod gets reeld in before the fish-on-hook logo appears"
I still have some problems getting this to run.
I've setup the rectangle (hopefully) correct and did everything according to the guide, but my char only throws out the rod and reels in while the icon starts shaking.
Also the log is a bit confusing. he throws the rod where the three pause commands are rather than when the info "cast fishing rod" is written. Is this intended?
Here some logs, maybe t

[2021-10-08 22:39] Landmine-1252 commented on #72
Check your openvc version

Mine is working with the following, I did a few more packages because I was browsing the code in vscode:

[code]

[2021-10-08 23:39] Siterizer commented on #73
@Culain Well after Casting he is dcasting again, that means bot is unable to 'match' te waiting for fish icon. Check your resolutioin, brightness, contrast, windows scale (remember to select correct monitor in dual monitor setups) etc

[2021-10-08 23:43] #66 closed, assigned to Siterizer

[2021-10-08 23:45] Alpacapi opened #74 "Suggestion: timer to putaway/re-equip fishing rod"
I've noticed this while fishing with this bot. after a random period of time, the character will just freeze during the eye mini game or either be unable to cast the rod again after catching a fish. The easiest way I found to fix this is by simply pressing f3 to put away the rod then press f3 again to take it out. My suggestion is to add an additional timer with priority to press f3 twice every x

[2021-10-08 23:47] Siterizer commented on #69
@tallglen that's why you should use wooden fishing rod :) i know there is lower chance to get rare fish, but it costs 0 gold and 0 repair parts to repair

[2021-10-08 23:47] #69 closed

[2021-10-09 04:18] benjaminaudet opened #75 "Auto assign sizes and positions of rectangles by default on differents resolutions"
- it should manage at least the 1920x1080 resolution
- also 2K and 4K

PS: there should be ways to control the application through hotkeys, like for example the action of the button "Start/Stop fishing".

[2021-10-09 07:18] CJWI86 opened #76 "Not reeling in fish"
Casting the rod, and then when it catches it's just letting it time out. I have all my settings set at 1080p low, box is in the right spot, contrast/brightness all set correctly., windows scaling is at 100% Any idea what's causing this?

[INFO] Cast fishing rod
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[IN

[2021-10-09 08:42] IISn4kyII opened #77 "Bot doesn't start fising"
Hey,

first of all nice work :) I have an issue that the bot doesn't start fishing but just repeats

[code]

I'm currently looking only on water and the recatangle are also fine...
![fishing](https://user-images.githubusercontent.com/92206068/136651171-d2c0bc40-6f7a-49e2-8dea-b875dde2afe1.jpg)

Any idea whats wrong? Graphic settings and everything else is set like in the setup guide

[2021-10-09 09:36] kakasniper opened #80 "How can i change casting time?"
How can i change casting time?

[2021-10-09 10:49] Siterizer commented on #47
will try in the next week release

[2021-10-09 10:51] Siterizer commented on #12
Sorry, but i think too much work. But changed the color setings to default :) https://github.com/Siterizer/new-world-fishing-bot/pull/79

[2021-10-09 10:51] #12 closed

[2021-10-09 10:52] Siterizer commented on #16
it's all done by now (will think about Obfuscation later), will close the issue

[2021-10-09 10:52] #16 closed

[2021-10-09 10:52] #17 closed

[2021-10-09 10:54] #31 closed

[2021-10-09 10:55] Siterizer commented on #54
then i gonna close the issue

[2021-10-09 10:55] #54 closed

[2021-10-09 10:56] Siterizer commented on #55
Closing https://github.com/Siterizer/new-world-fishing-bot/commit/dcf9e7607bf8362447916c60398a30dda9422080

[2021-10-09 10:56] #55 closed

[2021-10-09 10:57] Siterizer commented on #80
resources/config.yml->fishing->timeouts->cast

[2021-10-09 10:57] #80 closed

[2021-10-09 10:59] Siterizer commented on #76
i think the problem is brightness/contrast it clearly can't see 'green' color

[2021-10-09 11:00] Siterizer commented on #75
will do that in the next weekend

[2021-10-09 11:00] Siterizer commented on #74
https://github.com/Siterizer/new-world-fishing-bot/issues/42

[2021-10-09 11:00] #74 closed

[2021-10-09 11:02] #71 closed

[2021-10-09 11:03] Siterizer commented on #70
Check your brightnes etc. It clearly can't recognize 'green' color

[2021-10-09 11:07] #68 closed

[2021-10-09 11:24] mikegervo commented on #76
Hi, I am experiencing the same thing.
My log looks like this:
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Waiting for fish...
[INFO] Found a fish!
[INFO] Cast fishing rod
[INFO] Cast fishing rod

I tried +/- 20 in brightness didnt help.

[2021-10-09 11:28] Siterizer commented on #76
add me on discord:
Siterizer#8425

[2021-10-09 11:29] IISn4kyII commented on #77
xD really?! nice xD okay will try it

[2021-10-09 11:43] VivienFreb opened #82 "Found a fish but not reeling in."
Hello,

I wanted to give a try about this to see how it would work but I can't manage to get it to work.
Whever I find a fish, the mouse is pressed for a certain amount of time but then a new loop start and the bot is not trying to catch the fish.

I tried moving to another place, maybe it was colors problems like orange or something like that, changed the square size but nothing changed.

I've do

[2021-10-09 11:45] Culain commented on #73
ok i found the issue. the tip with resolution was good. i'm playing on 1440p, so i had to activate window mode additionally to set resolution to 1080p. maybe this should be added to the setup guide.

thanks for the help

[2021-10-09 11:47] Siterizer commented on #82
If you are sure abut brightness etc add me on discord: Siterizer#8425

[2021-10-09 19:24] merh opened #83 "Camera no longer resetting?"
The latest release along with older releases is no longer resetting the camera.
Sometimes when you catch a fish, the camera pans around to show your character with the fish.

Original behavior, the camera would reset to the original looking point afterwards.
Now, the camera gets stuck facing the toon and no longer casts in the correct direction.

Not sure if there was a patch or something that cha

[2021-10-09 19:55] merh commented on #83
I was able to fix this by Restoring Default Key bindings and rebinding Free Look to B.
Initially I tried changing it to something else and back to B, rebooted client, computer, etc. and even the changing the bind back and forward did not fix it but restoring default bindings and then changing it back to B worked.

Keep up the great work!

[2021-10-09 20:11] aVitomin commented on #28
Also request 1440p and >
Thanks advance

[2021-10-09 20:40] xiNeRoar commented on #59
did you found the reason? i am experiencing this too

[2021-10-10 01:29] seedlord opened #84 "Skip 6s waiting for Cast Rod, and skip catch animation"
The 6s waiting time for casting the rod and the catch animation can be skipped.
Demonstration https://streamable.com/luxpez

<details>
  <summary>replace old code with new code</summary>
  <details>
    <summary>functionality\fishing_actions.py</summary>

[code]
  </details>
  <details>
    <summary>functionality\fishing_loop.py</summary>

[code]
  </details>
  <details>
    <summary>gui\gui_funct

[2021-10-10 03:35] aurphillus opened #85 "Not able to catch fish"
I have followed all the steps and configured the settings as per the guide, but I am not able to catch a single fish. I am casting the fish rod, it was for around ~10 secs and then pull back and then again casts, this runs in a loop and then not able to catch a single fish.

[2021-10-10 06:28] NoNick96 commented on #24
So setting the second display as your main pretty much solves the issue. A click or two more than a setting in the program would require, but does the job.

[2021-10-10 06:28] #24 closed

[2021-10-10 07:10] #85 closed, assigned to nobody

[2021-10-10 10:06] GertValiakhmetov commented on #84
I think waiting 6s before stating fishing veru useful, because I need to click inside window and it take some time.

[2021-10-10 10:49] DamienShahan commented on #59
I took new screenshots for the images in bot\resources\
Then I also read the exact color-codes for the green, orange and red out of my game (by taking screenshots) and set them in \functionality\image_recognition.py.
Then I rebuilt the bot.exe (guide found on the readme page).

Now it works perfectly.

[2021-10-10 11:05] Trigun87 commented on #60
if u have red hairs or something red it will not works, cover with helmet or armor :-D

[2021-10-10 11:17] Trigun87 opened #86 "add hotkey for pause"
hi, u should add a simple hotkey for pause the bot (the gui seems stucked during the working) the only way for stop it is to close the program

[2021-10-10 15:46] seedlord commented on #84
Can be lowered to few secs

[2021-10-10 17:47] Loyalty1309 opened #87 "Camera swing"
Keybind has been set to B for freelook but even with the freelook bound to B after reeling in fish the camera sometimes swings downwards making any further fishing impossible

[2021-10-10 20:00] FreshRMO opened #88 "Not recognizing a fish is on the line."
![Capture](https://user-images.githubusercontent.com/43831015/136711312-034f94a8-922a-4077-9fcc-585d0d7a64e6.PNG)

Basically not entering reel mode, if that is a thing. Won't reel in the cast when a fish is on the line, tried all the resolution fixes; brightness, contrast, pov, resolution ect.

Sent a friend request on discord

[2021-10-10 22:10] gumbassus opened #89 "Need help setting the phyton script up"
Hello,

so im trying for almost 2 hours but i just cant get it to work.

Do i have to download the zip file and "Scripts\activate" it in the folder?
Do i have to work with visual Studio or can i just type everything in cmd/ps?
I always get an error message while trying to install the requirements.txt

the Code installation guide is not very clear for me since im a beginner in those things.
Could s

[2021-10-10 22:34] TomsonJohnson opened #90 "Is there a way to disable the bot after set time in config?"
Title

[2021-10-10 22:37] FreshRMO commented on #88
no problem!

[2021-10-10 22:49] makcimbx commented on #89
bot.exe

[2021-10-11 00:04] aleffff commented on #88
Hi,

Same problem in new version.

[2021-10-11 02:31] #76 closed, assigned to Siterizer

[2021-10-11 03:22] DogeBR opened #91 "Can't get it to start"
Forgive me but I need some help.
I can't get it to start at all, followed all steps, set up the area above the character, looking straight at water and naked to prefent any reds, nothing happens. If i go to youtube with the bot running the clicks happen (ocassionally pausing/unpausing vids), but in game it doesnt even throw the rod. I tried leaving the bot on screen and just moving mouse into the

[2021-10-11 05:48] bulderdash commented on #91
Run administrtor exe

[2021-10-11 06:51] DeityofGreed opened #92 "where is exe?"
I'm not sure how to run python stuff. When i click bot.py a window pops up for just second before vanishing.

[2021-10-11 10:01] raphalimam commented on #92
If you download the https://github.com/Siterizer/new-world-fishing-bot/releases you should get the exe and just need to run, but if you want to run in your on python you need to download python and install the libraries to be able tu run the bot.py correctly, there is an small tutorial in the readme about how to run in python, but you can just download the release with the exe

[2021-10-11 12:08] Muslix opened #94 "Green / blue fish bug"
After Catching a green or blue fish the camera rotates and it casts to a different direction causing the bot to not working anymore

[2021-10-11 15:03] #92 closed

[2021-10-11 16:10] Acanis87 opened #95 "Exception in Tkinter (not running)"
Hey, I just downloaded the ZIP, did everything in the manual and I get this error message:

The bot is not doing anything ingame. Anyone an idea?! :)

[2021-10-11 16:34] Loyalty1309 commented on #87
Its funny, because in certain circumstances the camera swing reverts itself and will continue working but other times after the camera swing the character will still be looking below. Its most likely just a question about how the character is positioned when fishing, I just don't know how to actually position the character to make it 100% consistent

[2021-10-11 16:56] orionsshadow opened #96 "Not hooking fish once "Found a Fish!""
#82 I don't know if its a time delay issue, but the program is not hooking a fish once found.

I have changed the notice timer from 1.5 to 0.25 and still encounter the issue.

Please help

![nwfishprob](https://user-images.githubusercontent.com/60678019/136827225-8337058a-5dd8-49da-b874-56be2981e30b.JPG)

Debug mode

![nwfishprob2](https://user-images.githubusercontent.com/60678019/136828642-34022

[2021-10-12 00:08] kmirea opened #97 "Get World Coordinates"
Amazing work with this ^^

I'm just wondering if there is possibly a way to get my world coordinates, using similar technique ? the one that is popped up when fps display is enabled ?

I ask as i'm really keen to attempt to create some kind of live link with the likes of newworld-map

Thanks & best regards

[2021-10-12 00:26] spykedchain opened #98 "Hijacking for crypto mining?"
Why is libcrypto1_1.dll file running the SHA2 alg?

[2021-10-12 00:34] mitmiisnix commented on #98
I couldn't find something about it in the code. How should it be executed?

[2021-10-12 01:37] tallglen commented on #97
Get your world coordinates using what similar technique?

[2021-10-12 02:19] vanillainanutshell opened #99 "installation problem"
cant download the requirements

[2021-10-12 09:07] nnocte opened #100 "Repair feature doesn't work"
I changed the timeframe to small numbers such as 10s, 30s and verified that it's not working. Screen positions are set correctly, and repairing is on.

[2021-10-12 10:22] Siterizer commented on #98
@tallglen Thanks for the response, gonna close this issue and change the tittle

[2021-10-12 10:22] #98 closed

[2021-10-12 10:27] #97 closed, assigned to nobody

[2021-10-12 10:41] #96 closed, assigned to nobody

[2021-10-12 10:43] #91 closed

[2021-10-12 10:44] #90 closed, assigned to nobody

[2021-10-12 10:45] Siterizer commented on #87
If your camera does not going back to your default fishing position (even with free-look override to 'b')
you should click in key binds 'restore default' and assing 'b' once again (it's in game bug)

[2021-10-12 10:48] #70 closed, assigned to nobody

[2021-10-12 10:48] Siterizer commented on #72
Try to uninstall python and install again, maybe this would help :)

[2021-10-12 10:57] Acanis87 commented on #95
Oh, couldnt find that with the search... Thank you^^ If using Python and the script does help, Ill try that :)

Iam using Windows 10 (newest update).

[2021-10-12 16:06] zak062 commented on #99
I ran into this issue along with a few others while trying to install. I finally got it to work with these steps (idk which one actually "fixed" it) I had tried all the below steps at other times but this order of steps are what worked for me

Uninstalled Python
Downgrade to 3.8.10 (https://www.python.org/ftp/python/3.8.10/python-3.8.10-embed-amd64.zip)
Installed each package listed in requirement

[2021-10-12 16:09] zak062 commented on #72
I ran into this issue along with a few others while trying to install. I finally got it to work with these steps (idk which one actually "fixed" it) I had tried all the below steps at other times but this order of steps are what worked for me

Uninstalled Python
Downgrade to 3.8.10 (https://www.python.org/ftp/python/3.8.10/python-3.8.10-embed-amd64.zip)
Installed each package listed in requirement

[2021-10-12 17:12] yfchina143 opened #101 "can u compile a exe file so i dont have to install the dependencies?"
hi, i tried to install. but i kept on getting dependencies error. im not familair with python. could you upload a exe ?

[2021-10-12 17:49] #101 closed

[2021-10-12 17:49] yfchina143 commented on #101
i got it to work

[2021-10-12 18:46] Acanis87 commented on #99
I installed the 3.8.10 and I was able to install the requirements now.

But...:

I didnt download the ZIP of the bot ^^

Your "cd instalation_directory" was the thing, that I did need... Now its starting! Dont know, if it will work - but it did start! yay :D

[2021-10-12 19:15] Acanis87 commented on #99
Hm, now its "running" and casting the rod... The log even says, that it found a fish, but its not reeling it... Never... Changed all graphic settings and so on... Huh... Sad :(

And the UI is freezing, if I want to show the searching area again... The UI seems to be overwhelmed, even with my cpu still having good power left...

[2021-10-12 22:21] liao-frank opened #102 "Migrate to `random.normal` from `random.uniform`."
Suggestion: Migrate to `random.normal` from `random.uniform` to make the bot more human.

e.g. change

https://github.com/Siterizer/new-world-fishing-bot/blob/8ac8dfc586f81dfbd03e89880f6abc0947187683/utils/config.py#L192-L193

to

[code]

[2021-10-12 22:53] liao-frank opened #103 "Make `fishing_actions.reel_fish` cancellable."
Suggestion: Make `fishing_actions.reel_fish` cancellable by other actions, such as [`3` (orange tension)](https://github.com/Siterizer/new-world-fishing-bot/blob/8ac8dfc586f81dfbd03e89880f6abc0947187683/functionality/image_recognition.py#L30-L31) and [`4` (red tension)](https://github.com/Siterizer/new-world-fishing-bot/blob/8ac8dfc586f81dfbd03e89880f6abc0947187683/functionality/image_recognition.

[2021-10-13 06:03] 4LAU opened #104 "Change fishing hotkey from E to something else?"
Is there somewhere easy for me to make this change? Similar to how I can just edit the text file for duration preferences?

[2021-10-13 08:08] #60 closed, assigned to nobody

[2021-10-13 08:15] #95 closed, assigned to Siterizer

[2021-10-13 08:16] #82 closed, assigned to Siterizer

[2021-10-13 09:13] Acanis87 commented on #17
It didnt fix it for me. I had it C:/new-world-fishing-bot with the same error.

Downgrading the Python version finally did help me.

[2021-10-13 12:45] noctedev commented on #100
It wasn't doing any repairing. It is now working after restarting the game and bot. Not sure why it wasn't working and how it got fixed now.

[2021-10-13 12:45] #100 closed, assigned to Siterizer

[2021-10-13 14:06] zak062 commented on #72
@Siterizer
I think you're right, I did also get it to work with 3.9.7 following my same steps, even though that was the package that was originally installed for me. Now I just can't get the bot to reel the fish in.
@yfchina143
try running pip install --upgrade pip while in the venv to see if that resolved your issue. If it doesn't, whats the command you're running?

[2021-10-13 15:02] HamzaAbdallah opened #105 "Reeling fast"
Hello, this is my first time using the bot! I have a problem that fishing is very fast when casting the bot don't wait to catch the fish it's  just reeling fast!
i know about this config
timeouts:
    loop:
      min: 0.01
      max: 0.01
    notice:
      min: 1.5
      max: 2.0
    reeling:
      min: 0.7
      max: 1.7
    pause:
      min: 0.5
      max: 1.5
    cast:
      min: 0.5
      max:

[2021-10-13 15:05] Siterizer commented on #105
@HamzaAbdallah What do you mean? like the bot is casting a fishing rod, and don't wait for 'notice' and re-casting again?

[2021-10-13 16:00] winroro opened #107 "New World 1.0.2 detected as AFK"
Game detected as AFK and was booted out. First time it happened since the new patch

[2021-10-13 16:05] Brambler commented on #107
Can confirm, might need to have player move between loops?

[2021-10-13 16:21] N2Pee commented on #107
Can confirm this is the case too...

Also Siterizer do you have a crypto/donate page? Many thanks.

[2021-10-13 16:25] Siterizer commented on #107
@winroro @Brambler @N2Pee Okay guys, i am not in game right now (EU hehe). One guy told me that he had no issues with the bot. And i think i know the reason.
Can you fish with bait repair on? I think that's the way to bypass anti-afk

[2021-10-13 16:34] Brambler commented on #107
@Siterizer Possibly something like quick jump (space for a single input), or another menu interaction (Open chat/close chat "enter escape ecape".

I'll keep you updated on my findings, im gonna watch for the freelook bug that others are seeing as well.

[2021-10-13 16:58] winroro commented on #107
Did the people on the forums mentioned if they moved their character when they were fishing? Or were they standing still and got kicked? I suspect the afk timer detects character movement, not sure yet did not test for it.

[2021-10-13 17:09] Tahum commented on #107
Current claims are that jumping does not work, and will still result in a kick

https://forums.newworld.com/t/afk-kicked-for-fishing-normally/385765

The thread for reference

[2021-10-13 17:41] Siterizer commented on #107
@Tahum @Railander @53m1k0l0n @winroro @yodo226 @Brambler @N2Pee
  I think anyway Amazon should fix that.
Make fast update etc. Don't think i will make another release in a couple of days to hotfix that.
I will wait and see their move first

[2021-10-13 19:59] Marow commented on #107
Just Move to left and than back to right for same time and than you have old position

[2021-10-13 20:17] 4LAU commented on #107
confirming that chatting did not seem to bypass, though i only typed a single letter in area chat at the 8 minute mark. was kicked just around 14/15 minutes. free look was working, bait and repair both turned on.

[2021-10-13 20:18] N2Pee commented on #107
Easier said than done, all it takes is a bit of lag and it could potentially move you quite far/away from your fishing spot in the long term.

That being said, perhaps opening up the inventory every 5 minutes may prevent a kick?

[2021-10-13 20:27] Mpaulo commented on #107
I made my own solution, I'm testing it to see, but so far it's working

[2021-10-13 20:35] Xenojadeworld commented on #107
what could be better than a left-right movement? with a random interval of 20 milliseconds

[2021-10-13 20:37] Marow commented on #28
What did you mean with changing resolutions of the images?
fish_noticed is 30x30 and the other 32x32?

[2021-10-13 20:49] fabiohagiwara opened #108 "Any thoughts to make the bot work on other resolutions?"

[2021-10-13 21:20] Xenojadeworld commented on #107
well, let's say after a long 5 hours he will stop getting into at least a spot. And I'm sorry, did I fly to the tropical islands at this time? and I can't check it? Unless it's only when I'm sleeping. But yes, it wouldn't be bad to find something else.
Perhaps a somersault back and then forward will return you to exactly the same coordinates?
or maybe make an image check relative to Position? and

[2021-10-13 21:39] N2Pee commented on #107
That's not how this bot works, this one works off of simple colour detection. It looks for a colour and reacts from there. Coding it to read coordinates is a whole new thing.

[2021-10-13 22:06] Padius commented on #107
could you send me a link to the macro your using please and is it user friendly, im a bit of a noob XD

[2021-10-13 22:06] 53m1k0l0n commented on #103
Sorry but why so complicated?

is_reeling is simply used to avoid calling unnecessary methods that are not needed at the moment.

fish_loop

`    elif result_from_model == '2' and not gv.is_reeling: #2 - model matched the green icon (reeling a fish in)
        info("Green color spotted, Reeling a fish")
        reel_fish()
        return '2'
    elif result_from_model == '3' and gv.is_reeling: #3

[2021-10-13 22:12] shangus1234 opened #109 "what is red color"
it runs very well, but sometimes it stops with the message 'red color spotted'. i just afk kicked with this bug(this bug keep happened until i got kicked)
is there any solutions sir?

[2021-10-13 22:16] aVitomin commented on #28
Tested 1440p - working perfectly!

![fish_noticed_1440p](https://user-images.githubusercontent.com/11780299/137220014-05e7186a-989f-4408-90f3-2ff76cca44ee.jpg)
![waiting_for_fish_1440p](https://user-images.githubusercontent.com/11780299/137220016-b93538ab-8031-442e-8c7d-58bb3d24adf8.jpg
[Downloads.zip](https://github.com/Siterizer/new-world-fishing-bot/files/7341678/Downloads.zip)
)

[2021-10-13 22:19] 53m1k0l0n commented on #109
'red color spotted' means that your line is about to break and the bot makes a break. Almost everyone is kicked because of "AFK". Only when you move you are apparently not kicked.

[2021-10-13 22:28] N2Pee commented on #109
Make sure the detection box (the green box you set up) doesn't pick up anything red on the screen. The only red it should ever see in that box is the line tensioning.

[2021-10-13 22:37] #109 closed, assigned to nobody

[2021-10-13 22:44] aVitomin commented on #108
https://github.com/Siterizer/new-world-fishing-bot/issues/28#issuecomment-942762242

[2021-10-13 23:08] yebit commented on #107
I solved this problem by doing shift movement, the position of the dodge roll is always the same and precise.
Doing it every 5min, tested for 1 hour, 12 intervals along with your script it works perfectly.

[2021-10-13 23:17] yebit commented on #107
this whole project isn't mine so I think we should let Siterizer release his version, and his idea sounds even better as dodge rolling doesn't work on all fishing spots like spots that are small and tight, one roll would result in a fall.

[2021-10-13 23:34] the1trueOG opened #110 "possible workaround for the new patch afk kick aggressiveness?"
the new patch has implemented a really aggressive afk kick, im guessing to stop bots. sometimes i get kicked after 5 minutes sometimes after 15 minutes. ive read in various forums that some people genuinely fishing with out botting are getting kicked as well.

[2021-10-13 23:35] liao-frank commented on #103
@53m1k0l0n

That's a good option as well. It's just a problem of state management.

The image detection loop currently doesn't really care much about what the bot is doing when it issues a new action. It looks like there are a couple checks in place that validate past actions, but some refactoring could be good.

For example for me, `pause()` currently runs out-of-order frequently because of sunse

[2021-10-13 23:42] Siterizer commented on #110
Okay, so there is issue about that: https://github.com/Siterizer/new-world-fishing-bot/issues/107

I won't close this issue, but will leave here my statemet, and disable comments:

i will wait 1-2 days for amazon replay, because you know, it kicks even 'normal' fishers after 15mins
and if they do not fix that then i will create new release with simple movement.
  Btw, thank you for all of your adv

[2021-10-13 23:50] liao-frank commented on #42
This issue happens to me sometimes too. It's not necessarily orange or red; it could be green too. It's just that the reeling gets stuck at the very end and you can't reel any further. The fish never goes away either.

I fix it manually by opening and closing my inventory, which clears the stuck minigame and lets me cast again.

If you ever get around to making the bot more stateful, might be wort

[2021-10-14 00:12] Mo7ammadQ8 opened #111 "pvp mode"
I appreciate your work..

the bot is detecting pvp mode as red color of reeling

plus, it will be amazing if u could add a function that we can control the power of the cast .. because in some hotspot fishing spots .. we cant reach the fish

[2021-10-14 00:13] nekudah opened #112 "Max cast distance"
Sorry for the dumb "issue", but the bot really just do random casts or I did something wrong ?

Every other thing worked just fine, didn't receive afk kick tested for 30 minutes

[2021-10-14 00:38] dlucksinger commented on #112
?  Be more clear in your question.

[2021-10-14 00:55] dlucksinger commented on #111
You can control the power of the cast, read the document.

Don't flag pvp while using, problem solved.

[2021-10-14 01:00] Railander commented on #107
hmm since the game already displays your exact coordinates and it's always exactly in the same place with the same font and same color and no transparency, one could hard code each digit for image recognition and stitch it together into an actual integer to accurately record positioning.

[2021-10-14 02:25] Poytrch commented on #107
If you fish in an area where your character could run left or right into an object (e.g. house). This will fix the issue with the coordinates/screen slowly shifting.

When the character is running into the object, it will realigns the crosshairs. Make sure to adjust the “sleep” to be longer for the left or right run so it runs into the object and readjusts.

I set the Repair rate to 5 second and r

[2021-10-14 03:13] FreshRMO commented on #107
Code above works well as a temporary fix, I agree that Amazon made these changes for a reason and won't be too lenient on backing off.

Only change I made to the code was:
`

     # Copy and paste this section.
     debug("Move to prevent AFK kick. Total time: 2.5 s")
     Sleep(0.5)
     press_key('a')
`

Added an initial sleep in case there was any lag or delay before 'a' is pressed.

[2021-10-14 03:13] FaynaStalwart opened #113 "Exception in Tkinter callback"
I was changing some of the config stuff because it kept trying to start the fishing catch before it was ready, than this started to pop up and now won't stop popping up. can help please? also about what I need to change for it trying to catch it too early?

Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_function

[2021-10-14 04:57] #108 closed

[2021-10-14 05:59] 53m1k0l0n commented on #111
This could well be a problem. I think I have seen that even if you are running around without Pvp, players from other factions who have Pvp on have red names.

[2021-10-14 06:33] FaynaStalwart commented on #113
I'm not completely sure what I should be doing. does the python version work better?

[2021-10-14 09:27] Xenojadeworld commented on #107
no. the character must necessarily move. after my inventory clogged up so much that the character couldn't move -- kick.

[2021-10-14 09:53] ivan-cavero opened #115 "Start/Stop fishing with key."
I think it would be a good idea to be able to start fishing and stop it with a key when we are in the game.
For example when pressing F5 it would start as if we clicked on the button.

[2021-10-14 10:06] ErovNest opened #116 "Fish obtaining animation skip"
When obtaining fish, animation is being played, but it can be skipped with left click almost immediately. Adding such a feature will lead to significant increase of efficiency (each animation takes about 6 seconds to end).
Is it possible to upgrade the bot this way?

[2021-10-14 10:57] jordan351 commented on #116
very interesting

[2021-10-14 11:01] Mattallica81 opened #117 "Not really an issue a question about minimising"
Hey loving the bot thank you for making it available.  I have a question I would like to remote to my home pc and start the bot and then go back to my work PC.  Every time I click off the game remote screen the bot stops.  Is there a way to run it remotely and minimising it.

Thanks

[2021-10-14 11:25] JulioCesarAM opened #118 "Issues with detection"
the bot works fine but i got this problem while using it.
Detection :
I dont know why but it works fine the  first and the  second time while  detecting and catching the fish but  then it would fail to detect the fish three times sometimes by pulling the rod to early and sometimes it would be bcs it wouldnt press the right click when the fish is detected and then after three fails it would start w

[2021-10-14 12:35] andremiguel123 opened #119 "Kicked from being AFK"
Hello, latelly i've been kicked from being afk and i am using the bot for some 20/30 mins, is there anything i can do ?

[2021-10-14 12:52] uniquoo commented on #119
Yes. Play the game without cheating.

[2021-10-14 13:03] botaholic commented on #119
AFK detection is an issue and this bot is being kicked after 20 minutes.  Great program for thoses who want to level fishing!

[2021-10-14 14:35] Mpaulo opened #120 "Little bug "found a fish and pull""
there's been a bug with me, I don't know if it's just me, but sometimes the bot fails in the "found a fish" part where it pulls the hook too late, after that in the next cast it pretty much puts all the time, totally throwing it away of the time determined in the bot, after this attempt it goes back to playing normally until it happens again.

[2021-10-14 15:54] Jahosefat commented on #107
can we get a new .exe with the movement added?

[2021-10-14 18:34] sergioc99 opened #121 "Bait function does not work"
I have been using the bot but I have not been able to configure the bait option, I have everything well placed and the option ON, do you know why it could be?

[2021-10-14 18:47] #121 closed, assigned to nobody

[2021-10-14 18:59] Siterizer commented on #119
I will make new release in like ~10h from now using @therepower solution

[2021-10-14 19:00] #118 closed, assigned to nobody

[2021-10-14 19:00] #72 closed

[2021-10-14 19:01] #94 closed, assigned to Siterizer

[2021-10-14 19:03] Siterizer commented on #107
I will make new bot version/release with some simple movement.

[2021-10-14 20:57] ShoeQ commented on #119
Pretty sure there isn't any script detection in the first place. My anti afk script did the same keyboard action repeatedly and was logged in for 25h+.

[2021-10-14 22:19] Marow commented on #119
Dont think that walking forward and backwards is good...
Cause backwards is slower than a step forwards

[2021-10-14 22:21] Siterizer commented on #119
@Marow Make an pull request then, will check this

[2021-10-14 23:05] deeben2 opened #122 "Cant reel fish"
I can get the bot to hook a fish about half the time I get one but the bot never reels in the fish. The most the bot will do is reel the fish for a second and then just stop completely. The bot just won't reel any fish in.

[2021-10-14 23:57] herzoga opened #123 "New Anti Afk System kick the bot"
New Anti Afk System kick the bot after like half an hour

[2021-10-15 01:55] Kahyul opened #125 "Bot skips reeling in fish"
After the bot finds does the initial left click to start reeling in the fish, it seems to not even attempt to reel it in. Any idea on what im doing wrong? screenshots for reference

![image](https://user-images.githubusercontent.com/92558918/137419454-22d71138-0421-462a-856a-a87369336a0f.png)
![image](https://user-images.githubusercontent.com/92558918/137419891-a2f8b4c7-53e9-476e-bbb4-1acbe2ea5d4d

[2021-10-15 02:02] Siterizer commented on #123
@herzoga @unuhuynh New release is here:
https://github.com/Siterizer/new-world-fishing-bot/releases/tag/v1.2.1

[2021-10-15 02:02] #123 closed, assigned to Siterizer

[2021-10-15 02:10] #119 closed, assigned to Siterizer

[2021-10-15 02:12] Siterizer commented on #107
New release is here!
https://github.com/Siterizer/new-world-fishing-bot/releases/tag/v1.2.1

[2021-10-15 02:13] Siterizer commented on #110
New release is here!
https://github.com/Siterizer/new-world-fishing-bot/releases/tag/v1.2.1

[2021-10-15 02:13] #110 closed

[2021-10-15 02:20] #111 closed

[2021-10-15 02:21] #107 closed

[2021-10-15 03:55] Azberk opened #126 "Constanly crashing"
The last version u added with anti afk is crahsing after pushing start fishing button .

[2021-10-15 04:31] CurlyLegend commented on #126
Im just getting AFK kicked even though it has Anti-AFK

[2021-10-15 05:16] #117 closed, assigned to nobody

[2021-10-15 05:34] 53m1k0l0n commented on #116
Yes it is possible. My version of the bot can do that (but was not easy to get there, stupid timing xD). The problem is the catching, sometimes the catch animation is canceled by another reel.

[2021-10-15 05:35] 53m1k0l0n commented on #126
An error message would be helpful.

[2021-10-15 08:22] N2Pee commented on #120
Here's how I set my detection box up, hope it helps.

![fishingbox](https://user-images.githubusercontent.com/92459460/137456084-73881915-1ec8-4cd7-be66-02c2b22419da.png)

[2021-10-15 08:30] #113 closed, assigned to Siterizer

[2021-10-15 09:14] SDOODSa opened #127 "Ban likeliness?"
As the title says, what is the likeliness of receiving a ban for using this bot?

[2021-10-15 09:26] N2Pee commented on #127
Not likely at all.

The only way you'll probably get banned is if you fish in a popular area for hours at a time and people keep reporting you.

[2021-10-15 09:36] Zenofir opened #128 "exception in Tkinter callback"
Hi, when I press the start button I have a exception in Tkinter callback.
I have read the closed issue and I have set the game in wndowed mode, with the good res and the setting.
There is the error :
![image](https://user-images.githubusercontent.com/22960003/137466524-9fb77140-2cea-4be9-96bb-3efd6f842dfa.png)

[2021-10-15 09:44] #127 closed, assigned to nobody

[2021-10-15 09:45] #128 closed, assigned to Siterizer

[2021-10-15 09:46] Siterizer commented on #126
@Azberk Try to run .exe with cmd and copy error message

[2021-10-15 09:46] #122 closed

[2021-10-15 09:47] Siterizer commented on #120
@N2Pee I don't know why, but your game looks kinda bright. Check Brightness/Contrast and siable any color-blind mode

[2021-10-15 09:52] #99 closed

[2021-10-15 09:59] Mika2012 opened #129 "I have an issue when i click on start"
![image](https://user-images.githubusercontent.com/92577600/137469981-22331840-a59a-4bdb-96de-3869f99f69d1.png)

Every time i click on start fishing.

[2021-10-15 10:28] Siterizer commented on #129
https://github.com/Siterizer/new-world-fishing-bot/issues/17

[2021-10-15 10:28] #129 closed

[2021-10-15 11:24] Icasso opened #130 "AFK System Changes"
Amazon's offical update: https://forums.newworld.com/t/notice-afk-system-changes/404631

Using release 1.2.0 without anti afk moving is working as of after the adhoc patch.

Maybe the moving function in release 1.2.1 can be made optional in GUI for future purposes?

[2021-10-15 11:36] #130 closed

[2021-10-15 11:50] So1m opened #131 "Add keybindings option in config"
So we can change it ;)

key_bindings:
  repair: r
  confirm_repair: f
  equip_bait: r
  camera_free_look: n
  inventory: b
  fishing_view: F3

[2021-10-15 12:04] jts82 opened #132 "Changing settings when downloading complied exe"
Hi,
thansk for this wonderful project.
Althougt I know some ancient languages (Basic, Pascal, c++, and some Delpi) I dont know any of Python, so I decided to use complied file.

I downloaded 1.2.1 realese and start exe file. Where can I change timings? Can I do it easiely or will it require to change values and compile again the .py file?

[2021-10-15 13:52] ValadaresX opened #135 "About detection"
Hello, I found your tool excellent, but I would like to know (if possible) what measure against detection exists in the program?
Don't get me wrong, I want to encourage development, but I'm afraid to keep using the program.

Thank you for developing this tool for free.

[2021-10-15 17:24] sobeki opened #136 "save last position configs"
This is more of a enhacement, I think as off now our positions aren't being saved once we close and open the bot, I've caught myself refilling all of the positions but then just changed on resources/config file.

Once we 'start fishing' button, we could overwrite resource/config with our configs from the GUI?

[2021-10-15 17:42] Leebo-missile opened #137 "Trojan:Win32/Sabsik.FT.A!ml"
Windows detects latest update as a virus and deletes files, stating
Trojan:Win32/Sabsik.FT.A!ml

[2021-10-15 18:05] #136 closed, assigned to nobody

[2021-10-15 18:06] Siterizer commented on #137
@Leebo-missile You mean the .exe file?

[2021-10-15 18:21] Leebo-missile commented on #137
![trojan](https://user-images.githubusercontent.com/54485295/137534400-4b65627c-8fcf-42ba-8767-d1c9b0b95781.png)
Yes the exe is being detected and quarantined by windows defender, as soon as unzipped or launched.  Past versions of the zip did not cause this to happen.
Can manually allow file to bypass, but prior versions seem to work fine, now that afk patch was reversed by devs

[2021-10-15 18:34] Leebo-missile opened #138 "AFK Changes Reversed"
Seems the AFK changes were reversed by the Devs, the old versions without auto movement appear to be working as intended once again.
No longer getting kicked for AFK while fishing on version without auto walk

[2021-10-15 19:13] 4LAU commented on #138
official statement here:

https://forums.newworld.com/t/notice-afk-system-changes/404631

[2021-10-15 20:25] orynger opened #139 "Bot stops responding when pressing 'stop fishing'"
Hey, thanks for developing this bot. I've tried it for a bit and it's working like a dream.

I only found one issue and that's when I press the stop fishing button the bot stops responding. It catches itself after a few seconds but stops again if you try to press the stop button again.

Maybe it would be useful to add a Hotkey which starts/stops the bot.

[2021-10-15 21:00] hacku5 opened #140 "Login blocked notification"
I did test 1.2.1 version, new world kicking me with login blocked notification. But was very well running 8-9 hours.
I'm reporting this for users to be careful
#135

[2021-10-15 21:19] Szak0 commented on #140
Do you think is it because the release 1.2.1 or you may used old versions a lot before?

[2021-10-15 21:26] Szak0 commented on #140
Can you attach a screenshot?

[2021-10-15 21:46] Jadonas opened #141 "Some error ?"
![error](https://user-images.githubusercontent.com/20615302/137556956-217d2aaa-5461-444e-b637-0ba31ffc1e44.png)

I am getting this when i click start fishing button. I am on windows 11. Phyton latest version is installed

[2021-10-15 22:01] #141 closed

[2021-10-15 22:51] ZhycerID opened #142 "buildscript { repositories { mavenCentral() } dependencies { // Add the line below, the plugin that copies the binaries // https://github.com/howardpang/androidNativeBundle/releases classpath 'io.github.howardpang:androidNativeBundle:{version}' } }"

[2021-10-15 23:22] Mattallica81 commented on #140
Scary stuff do you guys run this on a separate steam account or on your main character account?

[2021-10-16 01:46] CurlyLegend commented on #126
![image](https://user-images.githubusercontent.com/92329556/137568871-b87f5f2a-bde2-4851-a278-870fcc328baf.png)

[2021-10-16 01:47] CurlyLegend commented on #126
Ill see if i can run with cmd and grab an error message next time

[2021-10-16 04:29] jnguyen32 opened #143 "Camera changing position after catching uncommon/rare fish"
How do you stop this to make sure the camera stays facing where it is?

[2021-10-16 05:29] chan927 commented on #139
when I press the stop fishing button the bot stops responding.

[2021-10-16 06:47] samuelvosper opened #144 "Does new world need to be the main focused app"
Does new world need to be the main focused app or can the bot run in the background with new world in the forground on a second monitor

[2021-10-16 07:51] frakc opened #145 "cast range is ignored"
Hello, thanks for grate bot:) issue with casting distance

i modified config.yaml to
    cast:
      min: 0.9
      max: 1.0

but the road is still cast to 0.5

[2021-10-16 09:39] Runelover1 commented on #143
go to the main page https://github.com/Siterizer/new-world-fishing-bot  and look where it says  ""Standard key bindings, except of 'CAMERA' -> 'FREE LOOK' key binding, it must be 'B'!""  this will bug out some times after 1st log in or teleporting zones to just hit tab open bags and close your backs then retest free look should be working after that

[2021-10-16 12:09] Barrery commented on #140
![rbHw4zl3RY-B-G2Hzb9RJg](https://user-images.githubusercontent.com/11139926/137586708-8b1b4234-a7a9-46f8-b60e-e5b62d4f51a2.png)

This happens after 15 mins.

[2021-10-16 12:12] Siterizer commented on #140
From what i see a lot of 'normal' players have the same issue:
https://forums.newworld.com/t/login-blocked-suspicious-software-or-corrupted-install-detected/383397/23
This is a good question what is going on.
@Barrery @hacku5 you run the bot with .exe or with python?

[2021-10-16 14:32] Runelover1 commented on #140
I been using for last 5hrs no problem here, but I also dont stand around nude looking like a bot

[2021-10-16 14:56] Mpaulo commented on #120
yes, i set my box realy small and still got the bug

[2021-10-16 15:39] hacku5 commented on #140
Run with python, wich better ?

[2021-10-16 15:55] KEVEN150 commented on #143
IS ALREADY ACTIVE

[2021-10-16 16:10] Barrery commented on #140
@Siterizer i was using this bot from two pcs, 72 hrs no kicks nothing, then this morning i got this message but only on second pc, first was still working, both sides using exe. Wish to ask you add rename function, so the process wont be named as fisher bot

[2021-10-16 16:18] workntwerkd commented on #144
It has to have control over your mouse and keyboard, as it simulates those exact actions. If two sets of mouse and keyboard actions were happening it would be very easy to tell this is a bot.

If you have a system that can support it however, there have been some people who have run this in a virtual machine and then minimized the virtual machine. Doing that allows you to use your system normally

[2021-10-16 16:21] Siterizer commented on #140
@hacku5 wanted just to know. IT looks like there is no difference between using pyton or exe. My idea ja The game is not looking for external running app. He only sees that your game character is suspicius

[2021-10-16 16:23] Antikythera810 commented on #140
I have just tested this for 1 hour with the a clean download of the new 1.2.1 version and I was not able to reproduce this error.

@Barrery are all 3 of your PCs matching in regards to installed applications? I have seen reports of LED controller programs and other items like that causing these kinds of errors. It seems very strange that only one of your accounts would be targeted and not the othe

[2021-10-16 16:26] Barrery commented on #140
![Screenshot_20211016-202548_Chrome](https://user-images.githubusercontent.com/11139926/137594979-651920b2-47c8-4552-9545-50fcefdb11e4.jpg)

[2021-10-16 16:28] Runelover1 commented on #140
ahhh that part of the ui ya mybad was thinking u was meaning in task manger

[2021-10-16 16:31] Antikythera810 commented on #140
You can rename that section from the bot.py script if you use the python version.

![image](https://user-images.githubusercontent.com/27442989/137595119-8162770f-0e8c-4922-a1d1-e592f44b9dae.png)

[2021-10-16 17:09] hacku5 commented on #140
I'm using this method mostly every time

[2021-10-16 17:34] 4LAU commented on #140
i'd actually argue that v1.2.1_anti_afk is more bot-like than the one where you stand still. tried running this overnight, at some point got kicked off with the same warning. running left then right at the same interval every few minutes isn't really normal player behavior lol.

[2021-10-16 17:36] 4LAU commented on #145
those are seconds, not percentage points

[2021-10-16 18:25] hacku5 commented on #140
I think someone reported me lol

[2021-10-16 18:43] Trigun87 opened #146 "few suggestions"
u should add the same function that create the box for the areas (fishing/repair/bait) for when it detect the red/orange, since sometimes u find the bot blocked and u can easy know what was the problem if u see the box

and u need to doublecheck if u have the fishroad in the hand since sometimes it get the weapon and start attack (the color on the R for equip a bait?)

[2021-10-16 19:02] Antikythera810 commented on #140
I would always recommend fishing from one of the houses in Weavers Fen that has access to the water - you will be invisible to other players when inside the house.

[2021-10-16 19:09] SynaX1 commented on #143
Maybe restore Bindings and try again to bind Freelook on B

[2021-10-16 19:38] IronBeard69 commented on #143
It seems I have fixed it, you have to change "DECORATE to LEFT-ALT" and after you get a rare drop let the bot do its job wait a few seconds it will fix the camera.

[2021-10-16 19:39] frakc commented on #145
Oh. And can we controll distance?  maximum cast make minigame easier

[2021-10-16 20:36] bengiosis commented on #144
tried setting this up, but doesnt meet sysatem requirements :/

not sure how to passthrough through the GPU

Would be awesome if anyone knows the answer!!

[2021-10-16 21:38] christianwensel opened #147 "Freecam not reliably preventing camera turn after successful catch."
When catching rares and getting the zoom in and pan mechanic, the freecam keypresses are no longer reliably prevent the camera turns. I've tried tweaking it to no success. Anyone else experiencing this?

[2021-10-17 00:22] SynaX1 commented on #147
Try to restore bindings and bind freelook again on B

[2021-10-17 01:01] unuhuynh commented on #140
i still run on 1.2 temp fix and so far i have not disconnected for 10+ period, i have someone tested 1.2.1 and still didn't get kicked with that screen, just a regular afk screenshot.

Since they reverted the anti-afk I will test 1.2 standing still to see what is the middle ground.

[2021-10-17 01:03] unuhuynh commented on #139
Yup this right here^! Once I see a bunch of text and at the end of that it say something like "keyboardInterupt" then I can open the GUI and hit STOP FISHING without a problem.

[2021-10-17 02:55] Siterizer commented on #137
idk what to say, i think gonna close the issue

[2021-10-17 02:55] #137 closed

[2021-10-17 04:25] #147 closed

[2021-10-17 04:33] Siterizer commented on #145
@frakc Yes, if you want 'max' distance change 'cast' to 2.5-3.0. This should work

[2021-10-17 04:33] #145 closed

[2021-10-17 04:39] #142 closed

[2021-10-17 05:46] Derisska opened #149 "Does not cast the fishing rod"
ValueError: scale < 0
what am I doing wrong?
Help me please :)

[2021-10-17 05:51] Siterizer commented on #140
What amazes me is the fact that Amazon, having EAC, does not even think about searching for bots by looking at active processes in the background (This is evidenced by the fact that only some of the users get the "Login Blocked" message).
  So they have to check the behavior of the users, and once again, if I only some users get this information I'm pretty sure they are doing too obviously. A mess

[2021-10-17 05:51] #140 closed

[2021-10-17 05:55] Siterizer commented on #149
@Derisska Do you have dual monitor setup? It looks like the bot is not able to calculate negative pixels

[2021-10-17 06:06] Siterizer commented on #139
Will mark that as a duplicate, coz there is ready solution
https://github.com/Siterizer/new-world-fishing-bot/issues/103

[2021-10-17 06:06] #139 closed, assigned to nobody

[2021-10-17 06:06] Siterizer commented on #138
I think they re-reversed it again XDD

[2021-10-17 06:06] #138 closed

[2021-10-17 06:29] GladstoneOG commented on #120
I managed to solve this issue by changing the brightness and contrast to 50 50, hopefully this is helpful

[2021-10-17 06:47] K1etka opened #150 "help :("
Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_functions.py", line 57, in start_fishing
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 31, in call_appropriate_fishing_action
  File "functionality\image_recognition.py", line 18, in image_recognition_r

[2021-10-17 07:24] Siterizer commented on #150
https://github.com/Siterizer/new-world-fishing-bot/issues/17

[2021-10-17 07:24] #150 closed

[2021-10-17 08:47] bengiosis opened #151 "Anyone know how to do this via a VM?"
Tried using virtual bot but had issues with system requirements

Must need some gpu passthrough. some help would be awesome

[2021-10-17 09:18] Xalxal opened #152 "Can't Reel"
Hey there, great bot thanks for making it. But i've a question, on the defaault setting with ironwood fishing pole, it can't reel the fish. I mean i tweak the reeling values and pause values but can't make it work. Any suggestions to that?

[2021-10-17 10:45] ganya-qwe opened #153 "Add hotkey to start/stop fishing bot"
It would be nice feature to have

[2021-10-17 10:51] SynaX1 commented on #149
Laptop 1080p?

[2021-10-17 10:59] bengiosis commented on #152
What are your visual settings?

[2021-10-17 11:15] Yeman639 opened #154 "Camera too high/low after fishing for extended periods"
Opening inventory to repair your fishing rods moves the camera up/down a slight bit so after a while the bot doesnt fish properly as the camera moves away from the fishing region that you set, anyone experiencing this as well?

[2021-10-17 11:38] Alpacapi commented on #154
Can confirm. After about 8+ hours, the camera was definitely lower than what I was facing.

[2021-10-17 12:03] Derisska commented on #149
Yes

[2021-10-17 12:06] Pauliusj92 opened #155 "Pause 6s after almost every command"
Maybe anyone has any ideas?
I do not get it where it comes from, but after almost every command i get pause 6s. Therefore it misses the catch, the reel, everything.  Any ideas?

P.S i even minimized every command intervals, and this seems not affected by the config.

[2021-10-17 13:24] Marttern commented on #155
I have the same issue, even with the slowest config settings and small scan windows, I miss reels, it doesn't equip bait, it is slow to re-cast after catching fish (if it manages to spot it when it's caught), is there any way I can give more information about the problem I'm encountering? I'd be happy to pay for the bot if it worked effectively without babysitting

[2021-10-17 13:31] volk4nn123 opened #156 "BLACK SCREEN AND BOT STOP."
Bot is working well.. but 2 3 hours later, the black screen comes and the bot stops, I have to close the game and open it.
Thanx all

[2021-10-17 17:23] Xalxal commented on #152
my brightness was 51 that fixed the issue but it sometimes can't catch the fish now.  I tweaked some numbers again but it didnt solve it :/

[2021-10-17 18:31] KaiserBloo commented on #151
you can only use gpu passthrough if you are using linux afaik.
check out r/vfio if you wanna go into it, but if you are new to linux it may be quite difficult

[2021-10-17 19:14] Xalxal commented on #152
it's unstable, works for a 3-4 times and  misses after fishes after that. My setting are like yours exactly, i dont know what's wrong

[2021-10-17 19:28] DerekLeeHH commented on #82
How do you determine your own screen color?

[2021-10-17 20:04] MrGEnatgr opened #157 "Bot doesnt read the colour after a certain amount of time"
after running the bot for a lonmg period of time the bot wont be able to execute the pause and reel funtion it wont reconise the colours. i tried reinstallling but the issue still persists. another issue im facing is that the interface where the sliders are keeps crashing but bot still remains working which in terms causes it to glitch and not work

[2021-10-17 22:01] AleKrizanek commented on #126
Mine also crashes around the 3 hour mark

[2021-10-17 22:08] liao-frank commented on #42
Seems like maybe the behavior changed. I now have to right-click to get out of this.

[2021-10-18 00:01] JANIS1289 commented on #156
same, cant even get to work it, black screen at the start

[2021-10-18 00:59] AleKrizanek opened #158 "Rare fish catch animation"
When you catch a Blue or higher fish, it does the small animation where the camera pans and looks at you from the side holding the catch.
I am having an issue where it will not go back to the original fishing direction after the animation.

yes i check my key bindings.

pls help.

[2021-10-18 04:33] Jimmyn33dles opened #159 "Does not equip rod after repair."
Starts great but once it repairs it does not equip the rod again. Probably a config error on my part.

[2021-10-18 05:11] #159 closed, assigned to nobody

[2021-10-18 06:38] GHNewUser opened #160 "Suggestion: Bot/Exe Name, On/Off Toggle"
I'm not that familiar with Anti-cheat systems, but i wonder if it will be a good idea to have the bot.exe be named something else?

Also, will be nice if we can set a key to bind that can let us toggle the operation of the bot, with the current bot, it's a little hard to off it since it can be actively clicking/etc

Appreciate your work, much thanks

[2021-10-18 09:59] Anony3ouszxc opened #161 "i can't run bot.exe in windows 11 can fix problem"
Traceback (most recent call last):
  File "C:\Users\....\Downloads\new-world-fishing-bot-1.2.1\new-world-fishing-bot-1.2.1\bot.py", line 2, in <module>
    from gui.gui_initializer import gui_init
  File "C:\Users\....\Downloads\new-world-fishing-bot-1.2.1\new-world-fishing-bot-1.2.1\gui\gui_initializer.py", line 2, in <module>
    from gui.gui_functions import start_fishing, on_closing
  File "C:

[2021-10-18 10:12] Dignidad1 opened #162 "Bot doesnt work with error after start fishing"
Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_functions.py", line 57, in start_fishing
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 31, in call_appropriate_fishing_action
  File "functionality\image_recognition.py", line 18, in image_recognition_r

[2021-10-18 12:08] Powerman58x opened #163 "Is there a risk of getting banned?"
I saw that some people were blocked login, does this mean perma ban?

[2021-10-18 17:48] Wahiys opened #165 "Not turn back to fishing after repair"
Not turn back to fishing after repair

[2021-10-18 18:01] Mpaulo opened #166 "Afte some time the Camera fails"
After a few days using the bot perfectly, I started having problems with the Camera (B).

Everythin went ok, but after a while fishing it does not return to the configured point, and the character starts to throw the hook to the other side. I tried different settings and locations, reset the hotkeys, set everything up again and this has always happened

[2021-10-18 19:05] #166 closed, assigned to nobody

[2021-10-18 19:16] #160 closed, assigned to nobody

[2021-10-18 21:18] #163 closed, assigned to Siterizer

[2021-10-18 21:19] Siterizer commented on #158
Like @nezam7 it's in-game bug. Can't do much about that

[2021-10-18 21:28] Siterizer commented on #156
Where the black screen appears? And what is your PC specs? Maybe it's because of high PC usage

[2021-10-18 21:29] RvDuijn264 opened #167 "run bot on secondary monitor"
is it possible to run the bot on my secondary screen / monitor?

[2021-10-18 21:30] Siterizer commented on #155
I know about all of those issues, i will mark this one duplicate, and copy-paste mys tatement here:

The bot I created in free time while changing job. I' got plenty of free time for doing that. But right now 3 weeks after the 1st bot release it's hard for me. Like
1. Family
2. New Job :DD
3. Playing the game (PvP, etc)
4. Like 40 private messages on Discord with help in configuration/download etc

[2021-10-18 21:30] #155 closed

[2021-10-18 21:34] #153 closed, assigned to nobody

[2021-10-18 22:11] dvz95 opened #168 "always crashing after 10 minutes"
see above

[2021-10-19 01:17] dvz95 commented on #168
Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "tkinter\__init__.py", line 814, in callit
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 31, in call_appropriate_fishing_action
  File "functionality\image_recognition.py", line 16, in image_recognition_result

[2021-10-19 01:28] nekudah commented on #167
It works, I use while watching something eles on the tv

[2021-10-19 06:57] Drewmaster opened #169 "Less obvious anti-afk"
Is it necessary to run away so far? If possible, run away only little bit

[2021-10-19 07:11] Drewmaster opened #170 "The buttons are not pressed"
During repair, the buttons are sometimes not pressed. The mouse pointer moves, but quite often does not press the button. You may need to add a delay after moving, before clicking.

[2021-10-19 12:30] TPQxD opened #172 "its reeling to 90 % only"
![asdasd](https://user-images.githubusercontent.com/92794206/137909501-cf10b5d0-099f-46d5-bdc0-8d505f880c98.PNG)
 goes to 90% and goes to "cast Fishing Rod"

[2021-10-19 12:58] dvz95 opened #173 "I have been looking to the ground on my left. My free look settings have been reset and changed to B too."
See above

[2021-10-19 17:16] mrarevio opened #174 "Change the time when detecting a fish"
I am not able to change the time so that he pulls the fish in the green area.

he fishes only in the end area where the color appears red.

With luck he fishes in the green area

How can I change this?

[2021-10-19 20:12] wea-pon commented on #172
it's probably going below the green box

[2021-10-19 22:49] thederpling20 opened #175 "view changes when reeling uncommon+ fish"
When i reel in an uncommon+ fish, the camera focuses in on the fish as i put it in my pocket, for this reason the camera moves, and moves out of the green rectangle. any way to fix?

[2021-10-20 03:47] F1Howard opened #176 "Possible detection?"
I ran the bot for ~6hour today. every one to two hours i would run and gather more bait and nearby resources. after one such run, i had been fishing for ~1hour when the client began to hang when a fish was caught. almost like the clinet was crashing. this happened 3 times, not in a row, but within 5minutes of each other. on the third, I was disconnected from the game and received a message stating

[2021-10-20 07:31] #174 closed, assigned to nobody

[2021-10-20 07:32] #173 closed, assigned to nobody

[2021-10-20 07:33] #172 closed

[2021-10-20 07:34] #169 closed, assigned to Siterizer

[2021-10-20 07:35] Siterizer commented on #168
@dvz95 I think it's about dual monitor setup. after 10minutes can mean the 'repairing' time, can you pls turn repair off and let me know if that helped?

[2021-10-20 07:36] #105 closed, assigned to Siterizer

[2021-10-20 07:37] Siterizer commented on #126
The problem is i can't reproduce the bug myself on my pc/laptop so i don't know how to fix that :(((

[2021-10-20 07:38] Siterizer commented on #135
@futureproof123 There are. The safest would be to run the bot on your windows and the bot in Virtual Machine

[2021-10-20 07:38] #120 closed, assigned to Siterizer

[2021-10-20 07:39] Siterizer commented on #149
You can try to add me on Discord, and sheare me your screen Siterizer#8425

[2021-10-20 07:39] #149 closed

[2021-10-20 07:40] Siterizer commented on #152
Add me on Discord, it's hard to tell you what is the cause without seeing the game and bot on your pc Siterizer#8425

[2021-10-20 07:40] #152 closed

[2021-10-20 08:20] DaGuT commented on #176
Nah, the game just sucks.

That happens from time to time even with normal fishing. It stucks, you release LMB, but it still reels the fish. It can show red waves even when everything is green. It can stuck anytime etc :)

It happened to me yesterday like every 5-10 mins during normal fishing.

[2021-10-20 16:26] Julos78 opened #177 "Camera problem after rar catch"
Hi,

The camera does not replace after catching a rare fish. I have the last release.
My default key is "B"

Thank for your time

[2021-10-20 16:49] #177 closed, assigned to nobody

[2021-10-20 16:57] naynaystarx opened #178 "unable to initiate fishing"
hello! i know nuts about coding so i just used it as it is. setting the rectangle in frame and started fishing. able to cast hook, able to click on catching fish, but unable to reel in. always after catching on the fish, it reels one time, then no more, causing the fish to swim away. any help to get it function properly?

also, repair tab will open by itself is it? or how do i do it. thanks and ap

[2021-10-20 17:33] #176 closed

[2021-10-20 22:36] CJWI86 commented on #178
When I had this issue it was caused by the colorblind setting. If that's not it double check everything is as described in the readme then work on shrinking your box, this can make a big difference too. Try to get it to be like a narrow rectangle just from underneath the compass bar to where the shore starts in your fishing spot.

[2021-10-20 23:01] Oplateks opened #179 "Is it okay to run the bot through IDLE?"
Hi! I am pretty much a noob lol. If I dont want to use .exe, is IDLE sufficient ("safe") to use?

One more thing pls, is there a way to left-click after I catch a fish to instantly cancel the animation and start fishing sooner rather than waiting?

Thank you <3

[2021-10-21 01:59] KoiPanda opened #180 "Missing hook once every 1-2 successful fish"
Hi,

I am getting a problem where there is a fish on the hook but the bot does not click the hook. This happens every 1-2 successful fish and can be consectively. The most i had was 3 misses in a row.

Any idea how i can fix this and is there a way to fix the casting time after returning to nomal position?

[2021-10-21 07:42] Kerailesh opened #181 "Having an error"
Having an error and fishing doesn't start at all :(

cv2.error: OpenCV(4.5.3) C:\Users\runneradmin\AppData\Local\Temp\pip-req-build-sn_xpupm\opencv\modules\imgproc\src\templmatch.cpp:1164: error: (-215:Assertion failed) (depth == CV_8U || depth == CV_32F) && type == _templ.type() && _img.dims() <= 2 in function 'cv::matchTemplate'

[2021-10-21 08:55] NeiL978 opened #182 "How can I switch off move around function?"
I don't need to move around. How can I switch off this function?

[2021-10-21 11:54] chan927 commented on #84
Do you have the complete code？

[2021-10-21 12:09] DrBrutschel opened #183 "pip update"
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'
WARNING: You are using pip version 21.2.3; however, version 21.3 is available.
You should consider upgrading via the 'C:\Users\TEST\Desktop\new-world-fishing-bot-1.2.1\Scripts\python.exe -m pip install --upgrade pip' command.

how can I update have tried via python but no idea

[2021-10-21 12:53] andreijoda commented on #168
in case I have two monitors and that happens.  got any solution?

Sorry my bad English.

[2021-10-21 18:15] DrBrutschel opened #185 "The bot does not throw out the fishing rod happens every 30 minutes"
The bot does not throw out the fishing rod happens every 30 minutes?

[2021-10-22 00:25] Darkaustral opened #186 "Error when i press start"
when i press start i have the following error message :

Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_functions.py", line 57, in start_fishing
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 31, in call_appropriate_fishing_action
  File "functionali

[2021-10-22 04:56] chan927 opened #187 "A good suggestion"
Join the judgment, long time no movement, recover the rods F3, and then take out fishing rod F3

If this can solve most problems

[2021-10-22 09:36] roflankotan opened #188 "anti afk"
Good afternoon, is it possible to somehow remove the anti-afk mode in version v1.2.1? When walking often the hero falls into the water and fishing ends.

[2021-10-22 11:46] fontecic opened #189 "Camera wont go back to original location"
After catching and fish and getting the zoomed in animation the camera usually swings back to the original location. Now for some reason it does not do that. It will try to cast with the cursor looking at the floor, which sends the cast 90 degrees to the left of original position and bot cant work since the fishing bob is out of the screen (since it is looking down)

[2021-10-22 14:34] aim2kill opened #190 "better anti-afk for those who doesnt want to move around"
https://github.com/Siterizer/new-world-fishing-bot/issues/188

[2021-10-22 14:37] xXjojojXx opened #191 "Problems with breaks interval?"
settings

1920x1080
Low graphics
50 brightness
50 contrast

[DEBUG] starting new loop
[DEBUG] starting new loop
[INFO] Cast fishing rod
[DEBUG] Pause for: 6 s
[DEBUG] release b
[DEBUG] Pause for: 1 s
[DEBUG] Pause for: 2.25 s
[DEBUG] Pause for: 5 s
[DEBUG] press b
[DEBUG] starting new loop
[INFO] Cast fishing rod
[DEBUG] Pause for: 6 s
[DEBUG] release b
[DEBUG] Pause for: 1 s
[DEBUG] Pause for: 0.

[2021-10-22 17:03] FriGiN opened #192 "Does not reel in."
I can't get the bot to reel in the fish. it just lets them get away every time.

Windows 11
settings are on low with b look around.

[2021-10-22 18:10] #190 closed, assigned to nobody

[2021-10-22 18:12] #189 closed, assigned to Siterizer

[2021-10-22 18:14] #186 closed, assigned to Siterizer

[2021-10-22 18:15] #182 closed, assigned to nobody

[2021-10-22 18:16] #179 closed, assigned to Siterizer

[2021-10-22 18:56] dewmgaze opened #193 "exception in Tinker callback, not solved by moving bot to root C:\"
I saw both https://github.com/Siterizer/new-world-fishing-bot/issues/17 and https://github.com/Siterizer/new-world-fishing-bot/issues/128

I'm running the bot successfully on my Desktop PC, but I'm getting those same Tinker callback errors mentioned in the linked issues on my laptop.

Windowed mode, 1920x1080, low settings, B freelook, bot installed at C:\bot

Only notable difference between the 2

[2021-10-22 20:39] NightWishKsK opened #194 "Detected ( "Banned :(" )"
Hello, as of today, when I entered the game, I encountered this, I was not in the game when I was banned, I guess my game ends here, I will never use it again after the ban is lifted. I'm sorry I'm using translation

![Adsız](https://user-images.githubusercontent.com/93011931/138520183-28185cb5-e598-462e-86f6-90d349ea3bc6.jpg)

[2021-10-23 01:48] gumbassus opened #195 "Can not press on "Stop Fishing""
Hey, so far everything works fine with some custom settings but i just cant press on "stop fishing" because the bot window itself always freezes and i have to force close it. Is there a way or a button to stop fishing? its really annoying sometimes since my mouse goes all over the place

[2021-10-23 08:55] T3s91 opened #196 "Camera wont go back to original location."
"Free look" works differently, now you need to hold down the button.  Reset key bindings to default and assign 'B' not work.  Everything worked fine for a week.

[2021-10-24 01:47] 4rak007 commented on #195
there is solution when it start fish before it catch the fish u can stop it without freezing the bot

[2021-10-24 02:22] Tubben commented on #191
Exact the same happens for me also. Just one time a fish did bite before he canceled the cast and he started to reel.

[2021-10-24 14:20] ysrotciv opened #197 "press_key('b') and press_mouse_key not worked in game"
When I debuged it with IDE, I found these two method in title worked well before I switch to game.
But after I switched to game, both of them not work.

[2021-10-24 20:14] jolamar opened #198 "Speed up caught fish animation by left clicking once"
Time between catching a fish and casting again is too long. You can skip the animation that occurs once you've caught a fish by left clicking once. Then the wait time can be decreased as well before the next cast.

[2021-10-24 21:38] dvz95 opened #199 "Implement max distance throwing and adjust anti-afk running distance/direction?"
See above.
- Some fishing spots are very far from shore and require longer throwing distances and it would be best if it was consistent.
- Sometimes would be standing on a jetty and if you run left and right, you would fall off and drown.

[2021-10-24 21:53] UtkuDenizAltiok opened #200 "Can you change your anti-afk system ?"
Hi, your current anti afk system is not very useful. Walking 5-6 steps randomly makes the caracter drop to the water or die in certain spots.

Can you change it to 1 step go and exact 1 step back or jump or anything that doesn't move much and go back its original location.

Thanks for the bot by the way

[2021-10-25 00:33] Sevenn56 opened #201 "Kicked for bot detection"
![IMG-20211024-WA0009](https://user-images.githubusercontent.com/93104281/138619114-07ee7387-0a3e-4629-8227-6cadbb26e95a.jpg)

Hey, i was kicked from thé game (not ban) with this message.
I was in à random area with no People.
I think boting is done !

[2021-10-25 00:39] innellea commented on #201
Have you been able to log back in? No ban?

[2021-10-25 00:45] innellea commented on #195
Ctrl+C on the terminal to stop it.

[2021-10-25 00:51] tallglen commented on #194
This ban feels like you were manually reported by a bunch of people.

[2021-10-25 06:13] baesjunk opened #202 "Does not equip bait"
i have downloaded the 1.2.1 and followed the equip bait button instructions but it seems it is not included in the loop.
i turned on debug and there is no mention of the bait equipping. made sure that the bait enable is 1 but still it doesnt equip any bait at all. anyone know how to resolve this?

[2021-10-25 06:16] #201 closed, assigned to Siterizer

[2021-10-25 06:27] DataSiens opened #203 "Repairing stuck after several hours of usage"
Repairing stops working after several hours of usage.
Seems like it doesn't click the button.

For a first few hours it works as intended, but then suddenly stops clicking the fishing rod button on the inventory, leaving the rod broken.

I have already tried changing the min and max wait time for repair in config, but still this keeps occurring.

Any idea on why and how to fix thisv

[2021-10-25 10:29] syntax001 opened #204 "Seems like it has finally been detected"
![2dd](https://user-images.githubusercontent.com/71074471/138679908-685dd57b-87de-4cb7-9ae5-9d05bf9e4892.png)
Ran the bot anywhere from 5 minutes to 5 hours. I have no way of knowing, i was away from PC for 5 hours, and when i came back this was on screen. I have no other software running that would be detected as malicious.

Edit: Its worth noting: i did not use the EXE, i cloned the code and ran

[2021-10-25 22:32] MatthewARoy opened #205 "Add unique signatures to avoid EAC signature detection"
Would it be possibly to add an uglifier/minifier that shuffles the code to avoid detection?

[2021-10-26 13:36] dvz95 opened #207 "Adjust throw distance?"
See above

[2021-10-26 21:31] sirR9 opened #209 "Pulling rod before fish hooked"
Hey, I'm noticing that my cast times out and just pulls the rod after about 5 seconds.

I've tried different spots, different gear on, and attempted to mirror the setup image as close as possible.

I'm on a 1440p monitor, but downscaled my resolution to 1080p and have my graphics set to low.

Any advice?

[2021-10-27 01:29] AlphaBetaCipher opened #210 "Detected Red with legendary rod"
So i gotten the corrupted fishing rod and its red in color.
the program is working perfectly and thereby detecting the fishing rod as red, thereby making it useless,
is there any way to fix this without changing a rod ?

[2021-10-27 04:12] baesjunk opened #211 "Cast distance to ui"
Would be great if we can can the cast distance value in the interface. It is useful when changing fiahing spots where you to cast farther or shorter than others.

[2021-10-27 04:34] #202 closed, assigned to Siterizer

[2021-10-27 07:38] jts82 opened #212 "Cant run exe file"
Hello,
I used this bot for a two weeks (more or less succefully)
Yesterday I coudn't run bot.exe. I tried to download again from repository, nothing changes.
When I run exe the console window is opening and instantly close, the bot window isn't apear at all. I cant even see the log file.
I have not change anything with Antivirus, admin settings, permision etc.

What could it be?

(I use compiled v

[2021-10-27 09:40] zune127 opened #214 "Random 6 second pauses during reeling, fish gets away everytime"
1440p monitor with 1080p downscaled in windowed mode.

Doing everything as listed in setup low graphics, colorblind mode disabled.

Trying to fish in Weaver's fen

Bot does everything right then during reeling it will stop and pause for 6 seconds, reel a little bit, then pause for 6 seconds again, and the fish will get away.

[2021-10-27 10:54] ofekitos opened #215 "got a problem using the bot"
when i press start fishing its casting and after few seconds its stop casting and repeat itself. any solution ? version is 1.2.1 if im not wrong

[2021-10-27 14:00] JohnboyHD opened #216 "HELP"
ERROR: Could not open requirements file: [Errno 2] No such file or directory: 'requirements.txt'
WARNING: You are using pip version 21.2.3; however, version 21.3.1 is available.
You should consider upgrading via the 'C:\Users\Graß\Desktop\new-world-fishing-bot-1.2.0\Scripts\python.exe -m pip install --upgrade pip' command.

was muss ich machen ?

[2021-10-27 15:02] ITgamers opened #217 "Bot issue: RESOLUTIONS"
Siterizer, you're a boss brother.
Thank you.

Bot issues: Resolutions(Read if you are having issues).

There are a-lot of smart people in this form taking advantage of this great program Siterizer created. That being said understand that Siterizer has created this and decided to share it with you all for FREE. That being said, I check this tread on a daily, several times a day and see a trend. I w

[2021-10-27 18:03] Culain opened #218 "[Improvement] show rectangles on top"
Hello,

i would suggest to add the line `window.attributes('-topmost', True)` in the popup_rectangle_window function (right below the fullscreen atribute). This will allow the rectangle to stay on top of the game window and gives the chance to setup the correct viewing angle to be sure that the marker is in the expected area.

i would like to make this a pull request, but i'm too noob to set it up

[2021-10-27 18:06] Culain opened #219 "[Improvement Idea] Set Rectangle and Buttons with Mouse"
Hello again,

it would be very convenient, if we could select the area where we want the rectangle to be with either two mouse clicks (top left and bottom right corner) or by draging a selection rectangle across the window.
The buttons for repairing and bait selection could be set with a single mouse click.

[2021-10-27 19:27] menguepatel opened #220 "After patch today 10/27 bot seems flaky"
been running it without problem for past several weeks, on latest version (13 days ago it seems?) and now today occasionally it just won't click to reel in.  Watching the debug window/log it shows that it sees the green, but just lets the counter dwindle.

[2021-10-27 22:07] NewWorldDev opened #221 "CI for automatic deployment on release"
Some basic integration to build and package the app on main branch pushes/merges

[2021-10-27 22:08] NewWorldDev opened #222 "Create project board to track issues"
https://github.com/Siterizer/new-world-fishing-bot/projects

[2021-10-28 06:50] #167 closed, assigned to Siterizer

[2021-10-28 06:59] #168 closed, assigned to Siterizer

[2021-10-28 06:59] #170 closed, assigned to Siterizer

[2021-10-28 06:59] #178 closed, assigned to Siterizer

[2021-10-28 07:03] #161 closed, assigned to Siterizer

[2021-10-28 07:03] #165 closed, assigned to Siterizer

[2021-10-28 07:05] #192 closed, assigned to Siterizer

[2021-10-28 07:10] #191 closed, assigned to Siterizer

[2021-10-28 07:14] #193 closed, assigned to nobody

[2021-10-28 07:15] #194 closed, assigned to Siterizer

[2021-10-28 07:18] #195 closed, assigned to Siterizer

[2021-10-28 07:19] #196 closed, assigned to Siterizer

[2021-10-28 07:43] #199 closed, assigned to Siterizer

[2021-10-28 07:51] #205 closed, assigned to Siterizer

[2021-10-28 07:51] #207 closed, assigned to nobody

[2021-10-28 07:52] #200 closed, assigned to nobody

[2021-10-28 08:02] #210 closed, assigned to Siterizer

[2021-10-28 09:37] totonple opened #223 "Bot Detected?"
![20211028161632_1](https://user-images.githubusercontent.com/93319010/139230003-2503a5a8-55d0-46b0-8b06-541ee4e23f85.jpg)

[2021-10-28 10:12] #223 closed, assigned to Siterizer

[2021-10-28 11:01] Random-txt opened #224 "Worked before, stopped working 2 nights ago"
I was using your bot for a while without issues. But since 2 nights, the bot doesn't notice a fish catching the bait. I set the config back to vanilla and still not being detected. In the console all it says is casting rod? I don't know what caused this issue because it was working with the same settings before.

[2021-10-28 11:43] #222 closed, assigned to Siterizer

[2021-10-28 12:44] joravernigusya opened #225 "Death while fishing"
The question is not really on the topic, but maybe it happened to someone. The bot was standing on a fishing spot far from civilization at a waterfall where there are no animals. PVP mode was turned off. And after a while I'm dead. I didn't even notice how it happened, I was reborn already in the city. Maybe the GM is running around and killing bots? :D

[2021-10-28 12:48] syntax001 opened #226 "[Suggestion] Better and more simplistic logging"
![image](https://user-images.githubusercontent.com/71074471/139249830-c708113e-023b-4f05-bdcc-60c99c20a928.png)

So for all of you that like running the bot for a few hours at a time, it can be really hard to figure out what happened if the bot unexpectedly stops, your character dies, or you get disconnected. Im gonna show you how you can make a few small changes to make it much easier to see:
- T

[2021-10-28 13:26] Rrenation opened #227 "error when i starting the fishing"
hello, i have a question about the new world fishing bot. i have installed the fishing bot several times according to the instructions in the youtube video and every time the same error occurs when i start the fishing maybe someone can help me. sorry for the english had to use translated.

Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in

[2021-10-28 14:07] #227 closed, assigned to Siterizer

[2021-10-29 09:01] customthis opened #228 "Disable the red color"
Hello,

I am very annoyed by the red color, is it possible to tell me how to disable this feature ?

[2021-10-29 13:10] #225 closed, assigned to NewWorldDev

[2021-10-29 20:36] td30mott opened #229 "Pause resume"
Great work! Is it possible to build in a hotkey for pausing and resuming?

[2021-10-29 22:11] syntax001 commented on #198
Siterizer is right, even with your method, the bot breaks entirely if it messes up. So its not really an 80/20% thing. Its a 100% guarantee that the bot will break itself, just a matter of when. If people are using this for long periods of time you want it to be very reliable.

Unless i've completely misunderstood how you did it? From what i understand you just added a mouseclick like so before th

[2021-10-29 22:14] Siterizer commented on #229
@td30mott Well yes sorry forgot to put this thing 😭 . Will do in the next release, and markt his as duplicate. I am sure there is already thread with that

[2021-10-29 22:14] #229 closed

[2021-10-29 22:43] tallglen commented on #198
I haven't had the endless casting loop happen to me yet.  But if it's happened to you and Siterizer, then it'll probably happen to others.

There is one more thing we can try.  Disarming/arming the fishing rod by hitting F3 twice will also skip the animation.  I'm running both of these methods simultaneously on 2 PCs and have been watching them all day long.   The F3 method is slightly slower than

[2021-10-30 00:44] chasechou opened #230 "Error when trying to repair"
For the most part, this is working wonderfully except when it tries to do a repair then I am running into this issue below. I did modify the script to use my keybind which you'll see here where it's trying to press '=' which is my fishing key. Any ideas?

[INFO] Cast fishing rod
[INFO] Waiting for fish...
[INFO] Repairing
Exception in Tkinter callback
Traceback (most recent call last):
  File "C:\

[2021-10-30 04:22] Siterizer commented on #230
@chasechou Well you should add this line:
`"=": 0xBB,`
here:
https://github.com/Siterizer/new-world-fishing-bot/blob/297aeb4ef15ee8dd2673530d262fc361b06b676e/wrappers/win32api_wrapper.py#L13

[2021-10-30 05:46] customthis commented on #228
Big thanks !

[2021-10-30 06:49] Kirball opened #231 "2.0 doesn’t return to correct fishing position"
The latest version doesn’t return back to facing the correct way after a random amount of casts. It seems to be random to me sometimes it runs for a while before it gets turned another direction (about 90 degrees to the left) and sometimes it gets turned after the first cast.

[2021-10-30 07:02] Kirball commented on #231
I just tried again and it’s not returning after the first fish caught. I even ran 1.2 and it’s doing the same thing. B is still set as my free look button. Any ideas what’s causing this?

[2021-10-30 07:13] kevinlotz commented on #231
I prsssed b once and it started working normally idk

[2021-10-30 07:17] Kirball commented on #231
It appears free look quit working. Restarted the game, restarted the PC it randomly began working again after about 30 mins.

[2021-10-30 07:29] kevinlotz commented on #231
I've had it stop workong randomly too. Ctrl v is closing instead of interripting me too. Worse is my green isn't always getting recognized causing loop to reset and recasting.

[2021-10-30 09:28] #228 closed

[2021-10-30 09:30] Siterizer commented on #231
@kevinlotz @Kirball Can you try to click 'restore default' button in key binds and assign 'b' again? I think it's in-game bug

[2021-10-30 10:46] Kirball commented on #231
It cleared up for me but someone told me they were able to fix it before by pressing tab 2x so that’s a possible fix if free look quits for me again in the future.

[2021-10-30 10:46] #231 closed

[2021-10-30 11:38] syntax001 commented on #198
Could you post the code change you made, and your config.yml? I have a hard time believing you havent had that happen if you're doing the same as me and Siterizer. It pretty consistently happens before the first repair, even with long reeling times to minimize the reeling doing the skip.

Disarming with F3 is useless if you're fishing with bait, as you'd have to reapply the bait everytime you skip

[2021-10-30 13:17] totonple opened #232 "v2.0.0 issue"
so im trying to restart PC and its still "casting too fast"
example: when you catch fish the bot cut

[2021-10-30 16:00] tallglen commented on #198
I wouldnt say it's "useless".  When you're fishing over the course of 10+ hours, you'll run out of bait quickly.  I wanted a more reliable way to reset to the "Ready to Cast" state than using LMC.  I agree that blindly using a LMC is a great way to mess up the loop; it's just a quick 'n dirty solution.

I'm testing matching on the SUCCESS graphic; it doesnt work 100%, either because OpenCV isn't f

[2021-10-30 16:23] #204 closed

[2021-10-30 16:30] tallglen commented on #198
Forked into:
https://github.com/tallglen/new-world-fishing-bot

This doesn't have the changes to keep track of state; more complicated to keep track of state so going to try this on my main fisherman.  I have the other 2 versions running concurrently just to see if they get into the endless state.

Here's the tests I have running:
1) Fisherman cancelling animation using F3
2) Fisherman cancelling

[2021-10-30 16:40] Aedito opened #233 "Problem at start"
Hey guys!
When i start fishing vie bot.exe i have following problem:

Exception in Tkinter callback
Traceback (most recent call last):
  File "tkinter\__init__.py", line 1892, in __call__
  File "gui\gui_functions.py", line 57, in start_fishing
  File "functionality\fishing_loop.py", line 13, in fishing_loop
  File "functionality\fishing_loop.py", line 31, in call_appropriate_fishing_action
  File

[2021-10-30 18:14] phGH commented on #154
If You faceing up the camera will drift up and if You looking at your back the camera will drift down after some time.
Anyone have any ideas how to fix this?

[2021-10-30 21:10] Kirball opened #234 "Virus"
So 2.0 contains a Trojan horse?  Not cool.  Windows says it’s a virus and a scan found that it’s installed a virus.

[2021-10-30 22:08] syntax001 commented on #234
You have access to the source code.... You can literally check exactly what the program does and decide whether or not its a "trojan". Im using a much more advanced anti-malware than Windows defender and it has no problem with 2.0.0.

[2021-10-30 22:10] syntax001 commented on #233
I think the fix for this was moving the bot to the C:/ drive. Not sure

[2021-10-30 22:17] syntax001 commented on #234
https://www.virustotal.com/gui/file/74fb1bab14d341586b43064a35074b51e977b8b51e0d839258cf5a257dcb2a61/detection

Looks like you're using McAfee. McAfee is a joke of an antimalware program. I'd sooner go without an antimalware program, than install McAfee on my system. As you can see, the 68 other (and vastly superior) antimalware programs found nothing wrong with the EXE.

[2021-10-30 22:27] Kirball commented on #234
I don’t use the .exe as I have no need for it (that I’m aware of). I don’t use mcafee. Why are the older versions clean and this one isn’t?  I’ll just use 1.2 in the meantime. Having access to the source code does me no good as I don’t code so . . .

[2021-10-30 22:31] syntax001 commented on #234
Well how do you run the code? Im guessing in a python virtual environment then? If you know how to clone code and setup a python virtual environment it shouldnt be rocket science to figure out what the code does. Its fairly simple. I have absolutely no experience in Python either.
Also, the EXE runs off the same code youre cloning, so i dont see the issue. If 67 out of 68 security programs are say

[2021-10-30 22:32] Kirball commented on #234
Windows completely blocks me from running the script.

[2021-10-30 22:35] syntax001 commented on #234
Then you'll have to disable Windows Defender while you run it. There's not much else I can recommend you when you don't give the actual message Windows Defender gives you, or attach a screenshot.
And if you trust Windows Defender more than the 68 other programs that scanned the file then I don't know what to tell you.

[2021-10-30 22:36] Kirball commented on #234
I installed python on my box. I just download the .zip extract it change the config file to suit my needs and run the script. 2.0 worked fine last night. When I started my PC today iI was blocked from running the script. Defender found 2 viruses installed and removed them. The script was removed in the virus removal. Seems pretty sus.

[2021-10-30 22:41] syntax001 commented on #234
Its not sus really, its pretty simple. You either got a virus from somewhere else, or Windows Defender is just being Windows Defender. Again, if you hold Windows Defender to such high standards then i guess you'll have to go back to an earlier version. But the VirusTotal link i posted really should be the end of discussion. There's nothing malicious in the script. If there was, don't you think the

[2021-10-30 23:02] Kirball commented on #234
2.0 has already been forked?

[2021-10-30 23:10] syntax001 commented on #234
2.0 was inspired by the pull request from srhinos. so srhinos has worked a lot with the older version. tallglen from one of the other issues is working with 2.0 to find a solution to animation skipping. Im also testing 2.0 and customizing it a bit to my liking, (although as i said i have NO experience in python. I do understand majority of the code however)

[2021-10-30 23:35] Kirball commented on #234
https://imgur.com/a/hqrhYwT

[2021-10-31 01:07] MrGEnatgr commented on #234
no virus detection im also using windows defender nothing showed up for me

[2021-10-31 03:03] qq1748244285 opened #235 "Has the anti AFK of 2.0 been cancelled"
The efficiency and performance of 2.0 feel much better than 1.2, but it seems that the anti AFK is cancelled. Although I haven't dropped the line, maybe Amazon has turned off the AFK mechanism? I found an occasional problem in 2.0. After fishing, the angle of view will shift to the left and move 90 degrees. My friends and I have encountered such a problem

[2021-10-31 04:28] Aedito commented on #233
Problem solved! Thanks! I moved the bot from desktop to C:\bot and now it works!

[2021-10-31 04:29] #233 closed

[2021-10-31 13:51] syntax001 commented on #234
Use an earlier version if you're paranoid. However if Siterizers goal was to make malware, do you really think he would wait until 2.0 to implement it? 2.0 is even "hidden" on a different branch, so likely most of people are still using version 1. There are tons of fishing bots out there, you could also just pick a different one.

[2021-10-31 14:46] Siterizer commented on #235
@qq1748244285 Yes, i removed code that forced character to move. The reason od that Amazon removed anti-afk for characters that fish. To prevent The rotation You can click 'reset to default' button then assign 'b' again. That should help

[2021-10-31 15:07] Siterizer commented on #234
Well Remember that if a repository contains
1. Sexual content
2. Hidden crypto mining
3. Wiruses.
4. Etc
Then i can get perma banned on my github account.
  And github is my programming portfolio so a big part of my resume. Maybe that would convince You 😁

[2021-10-31 15:09] R3knqrp opened #236 "Errors with v.2.0.0"
I've been encountering new problems with the new version. Even though the image detection is a lot better, and it has never missed reeling a fish, the bot occasionally cancels the reeling animation, meaning that while reeling the fish in, it stops reeling, and starts casting the rod (in the console) while the fish slowly runs away until the bot starts reeling again after a delay from the casting.

[2021-10-31 15:48] R3knqrp commented on #236
https://user-images.githubusercontent.com/93481650/139591570-8bc1084f-e4e1-4984-a81d-56310985c803.mp4

[2021-10-31 17:42] phGH opened #237 "v2.0.0 Problem with false positive fish detection."
Botting on vmware, All was working fine with v1.2.1, but on v2.0.0 getting a lot of false positive fish detection.
Any ideas how it can be solved?

https://user-images.githubusercontent.com/92539302/139595326-d4fa5ef1-3267-4e9d-b00c-c1b75bf512d3.mp4

[2021-10-31 19:00] futureproof123 commented on #205
@Siterizer ok so I have another idea, what if you run the bot on a virtual desktop / remote desktop, connect to ur 'gaming pc' via teamviewer or anydesk or whatever, and let the bot operate clicking thru the teamviewer / anydesk, that way it appears as if you are just playing the game from a remote location. Would this work ?
It would also bypass the signature bs because the bot is running on a re

[2021-10-31 23:26] ryanmcadams commented on #237
How'd you get this to run on vmware?  I cannot get it to run in a VM for the life of me.

[2021-10-31 23:41] phGH commented on #237
vm v16.1.1 nothing special. 2c2t 6gb ram. There was no problem with vm for me.

[2021-11-01 00:00] Jalil3 opened #238 "Not fixed in resulation"
Hi . good day . Please design a bot for different resolutions.
My resolution is 1366x768. Thankful

[2021-11-01 06:31] 4rak007 commented on #236
Got same problem here

[2021-11-01 06:31] 4rak007 commented on #237
Same problem

[2021-11-01 07:51] frankfuu commented on #237
Might be unrelated but i find that fishing in areas where there is less green and red tends to help.

[2021-11-01 09:59] MysticEntry-Nova64 opened #239 "buggy,"
It sometimes reacts instantly, And sometimes it doesn't react at all.
Might react to fast? maybe?
And the box size doesn't seem to be correct the bottom of the box is ignored, I have a default location I used on the 1.2.0 version,
Using it on the 2.0.0 version, But it seems I have to make the BOX waaaaay TALLER because the bottom part of the box doesn't work.

Got an i9 9900k, That's an 8 core and

[2021-11-01 10:44] GazzaMildog opened #240 "DEBUG Logging appears to improve catch rate"
Hi, I'm not sure on the format I should post this but from some limited testing I've noticed that enabling DEBUG logging has significantly improved the catch rate, without this enabled the bot would frequently miss the timed catch click, but after enabling it it hasn't missed once. Good work btw on the bot :)

[2021-11-01 10:57] phGH commented on #237
The thing is that v1.2.1 working like a charm (except camera drifting).

[2021-11-01 11:11] Siterizer commented on #237
Think i know what's the issue. Color wages jumped from 7: https://github.com/Siterizer/new-world-fishing-bot/blob/main/functionality/image_recognition.py
To 4:
https://github.com/Siterizer/new-world-fishing-bot/blob/2.0.0/utils/global_variables.py
Maybe will put this thing into config and make 7 default 🤔

[2021-11-01 11:14] Siterizer commented on #240
Will look at this later. Right now i am on small vacations 🍹

[2021-11-01 11:15] Siterizer commented on #239
I think this may be related to resolution problem. Can You set fullHD and rerun The bot again?

[2021-11-01 11:25] qq1ng opened #241 "(afk) issues in 2.0 / 1.2.1"
Something seems to have changed regarding the afk detection, just fishing doesn't prevent me from getting kicked & when using 1.2.1 and having "move around" to 0.1 eventually leads to me falling into the water and drowning.
-> someone have a way to prevent afk kicking in another way? In any of the versions that is.

2.0 (or New World being buggy) also had me multiple times throw my bobber WAY to t

[2021-11-01 12:42] phGH commented on #237
Game runs on 1280x720.
I just replaced images in resource folder with my own from 1280x720 resolution. Worked very good on v1.2.1
With v2.0.0 I tried with stock images and replaced images (as I did with v1.2.1) and I'm getting that false positive fish detection with any images.

If it can be done like before as an option in condig it would be very cool.

[2021-11-01 13:22] 4rak007 commented on #241
2.0 version getting afk detection and kicked while fishing too

[2021-11-01 13:56] Alex20cm opened #242 "2.0 Camera"
2.0 is working perfectly the only problem is that when is catching a rare fish and shows the animation most of the time won't reset back, sometimes is working sometimes isn't . but i ll say every 30 minutes the bot will stop working as it will not fish anymore as the camera will be facing left side.

Is it possible to edit the amount of they the b button is pressed? or something?

[2021-11-01 14:38] MysticEntry-Nova64 commented on #239
Game is ran fullHD, windowed, 1920x1080,
I am sorry for this but this is my last update towards this, Found one that's a bit more responsive on a different platform.
But good work 1.2.0 worked amazing and I got from 0 to 180.

[2021-11-01 15:48] ITgamers commented on #241
Using the previous version and changed my moment to 0.0 - 0.0 haven't been kicked.

[2021-11-01 15:57] ITgamers commented on #238
Let's get the current bot smoothed out before we talk about creating additional resolution features.

[2021-11-01 16:07] ITgamers commented on #234
Read up on// False positives

[2021-11-01 17:00] qq1ng commented on #241
i think my issues with previous versions was my high repair timer. It sometimes bugs out and doesnt repair, not triggering the anti afk, so when i put my repair timer to 10 minutes i didn't move around in time lol

[2021-11-01 19:50] syntax001 commented on #234
I mean false positive would technically imply the program shares some traits with virus behavior (but not actual virus behavior, thus 'false' positive), but thats not even the case here so i have no idea what Windows Defender is doing on that mans machine :D

[2021-11-01 20:59] calmeep commented on #242
Just resetting it back to normal then setting free camera move back to b?
@phGH

[2021-11-01 21:08] Admalll commented on #242
same problem for me, didnt find the solution

[2021-11-01 22:33] dvz95 commented on #242
Yep. I have just recently getting this issue like a few days ago. I’m still on version 1.2.1. Sometimes camera is to the left or slightly down.

[2021-11-01 23:00] frankfuu commented on #240
Yep i've also experienced this! It improves the catch rate tremendously.

[2021-11-01 23:04] frankfuu commented on #239
Have you tried adjusting the config.yml file's log_lvl property from "INFO" to "DEBUG". I have found that it helps...a lot![see this](https://github.com/Siterizer/new-world-fishing-bot/issues/240)

[2021-11-02 00:52] frankfuu commented on #225
Hi @joravernigusya , i'm interested in knowing the location of this said place as i've been trying to look for hours and haven't been able to find a "safe" fishing spot away from mobs of non retreatable distance. Care to share?

[2021-11-02 01:10] syntax001 commented on #242
Sometimes this is caused by an in game bug where the freecam just doesn't work. That is fixed by resetting to default keybindings and changing it back to 'b'. however that bug only happens between closing and opening the game, not during a playsession.

ALWAYS before you start the bot, check that the freecam is working. If its working, and the bot still fails to reset the camera reliably, then its

[2021-11-02 01:17] syntax001 commented on #241
If youre able to edit the code you could try to turn off the default anti-afk, and add this in your repairing() function, after disarming the fishing rod and before opening the inventory:

[code]

If it hasnt already been imported, you need to import the 'random' library at the top like so:

`import random`

Also import 'info' in loggingwrapper if it hasnt already been:

`from wrappers.logging_wra

[2021-11-02 04:42] R3knqrp commented on #236
Nvm problem is solved.

[2021-11-02 05:24] 4LAU commented on #204
pretty sure you got reported. record your next afk session and play back the video

[2021-11-02 15:39] fontecic commented on #241
can confirm getting kicked for being afk using 1.2.1

[2021-11-02 15:44] chasechou commented on #230
This worked, thanks!

[2021-11-02 15:44] #230 closed

[2021-11-02 15:52] knightmisuto opened #244 "Multithread"
I saw you new release have added multithreading, im new to progamming but still curios how you do that but seem like your source code not update with release so i cant see what change. Can u please tell me how you can apply multithreading in your code? that will be great help for my study. Thank!

[2021-11-02 16:48] snozzberry91 commented on #242
Same issue for me. I've tried resetting the default keys and then changing it back to B. It didn't fix the problem.
Sometimes it will run for 30mins+ without the camera staying in the position after catching and uncommon+ and sometimes it will do it after a few catches.

[2021-11-02 18:53] menguepatel commented on #240
Can confirm, after updating to latest 2.0 code i noticed it wouldn't "see" the green around the catch circle..once i saw this post and went back and enabled debug it works alot more frequent..

[2021-11-02 22:02] wade217 commented on #234
OP is not the only person reporting this issue. I know two people that have also reported this as malicious.

[2021-11-02 22:03] wade217 commented on #234
Too many fingers in the pie at this point.

"Dev" claims he's working on a resume but I mean....  fishing bots and his profile would suggest otherwise.

B E W A R E

[2021-11-02 23:52] Alex20cm commented on #242
Yes, i can confirm that the problem persists, i make sure 3 times that the camera is working and still getting the camera on the left side.

[2021-11-03 00:42] MatthewARoy opened #245 "Unique signature to avoid cheat detection"
https://smile.amazon.com/gp/help/customer/display.html?nodeId=GJSYGMDGB7NMYLKE&pop-up=1&sa-no-redirect=1

`Like most games, many Amazon Games games require installation of anti-cheat software on your machine to help ensure a fair environment for all players. The software monitors active processes on your device for hacks, bots, and other suspicious programs that could interfere with gameplay. It t

[2021-11-03 00:42] MatthewARoy commented on #245
New terms and conditions added on game launch

[2021-11-03 01:23] jolamar commented on #244
Switch to branch 2.0.0 if you want to run it yourself otherwise download the release. If you really want to know what's under the hood here's the gist:

import threading
import asyncio
...
threading.Thread(daemon=True, target=self.asyncio_event_loop.run_forever).start()
self.asyncio_event_loop.create_task(fishing_loop(self.config), name="fishing_loop")

[2021-11-03 02:58] DataSiens commented on #245
I'm upvoting this

[2021-11-03 04:13] syntax001 commented on #241
Try what i posted above if youre able to. Im not getting kicked with that at all.

[2021-11-03 04:18] syntax001 commented on #245
You sure this is new? Theyve been using EAC since the beginning, so if this clause wasnt there before, they mustve forgotten to add it, cause thats what EAC should have been doing since the beginning

[2021-11-03 04:21] syntax001 commented on #234
dude.. you have access to every single line of code that gets executed on your machine. its right here. read it, and decide for yourself, if 68 security vendors telling you its safe isnt enough.

[2021-11-03 06:03] futureproof123 commented on #245
what if you run the bot on a virtual desktop / remote desktop, connect to ur 'gaming pc' via teamviewer or anydesk or whatever, and let the bot operate clicking thru the teamviewer / anydesk, that way it appears as if you are just playing the game from a remote location.
It would also bypass the signature bs because the bot is running on a remote pc.

would this work? anyone have any insight into

[2021-11-03 12:06] syntax001 commented on #245
yes people are already running it on VMs. if the program isnt running on the same PC as the game, there is no way to "detect" it

[2021-11-03 17:18] JKamsker opened #246 "Login Blocked: Suspicious Software or Corrupted Install Detected"
Seems like its detected. Can anyone else share the experience?

![NewWorld_uSNDRRftYw](https://user-images.githubusercontent.com/11245306/140141881-38f29cf1-eccd-494c-89f2-19a588ae3950.jpg)

Its probaply not my pc, because i can login on an alt account.

[2021-11-03 20:31] Admalll commented on #242
i just cant find the way its not bugging. Every 30 minutes camera goes on :(

[2021-11-04 01:41] sletten93 commented on #246
I just got this message with another fishing bot 'sleeping fisherman' aswell. Have anything changed for you now? Can you login?

[2021-11-04 08:36] idimo commented on #242
same problem

[2021-11-04 14:09] nezam7 commented on #246
what is sleeping fisherman bot? is that a new one

[2021-11-04 14:57] qq1ng opened #247 "(INFO)"
other fishingbots have been detected, created using Kibor
https://kibor-bot.com/stat/programmed-autoclicker.php

[2021-11-04 15:16] viion commented on #246
This means you've been banned. Ban waves went out for Sleeping Fisherman and this is also detected

[2021-11-04 15:32] sletten93 commented on #246
Yeah, got the permaban today. Thx for the update though

[2021-11-04 16:05] Siterizer commented on #28
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:05] #28 closed

[2021-11-04 16:06] Siterizer commented on #30
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #30 closed

[2021-11-04 16:06] Siterizer commented on #34
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #34 closed

[2021-11-04 16:06] Siterizer commented on #42
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #42 closed

[2021-11-04 16:06] Siterizer commented on #47
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #47 closed

[2021-11-04 16:06] Siterizer commented on #56
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] Siterizer commented on #63
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #63 closed

[2021-11-04 16:06] Siterizer commented on #75
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #75 closed

[2021-11-04 16:06] Siterizer commented on #84
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:06] #84 closed

[2021-11-04 16:06] Siterizer commented on #86
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] Siterizer commented on #103
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] #103 closed

[2021-11-04 16:07] Siterizer commented on #104
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] #104 closed

[2021-11-04 16:07] Siterizer commented on #115
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] #115 closed

[2021-11-04 16:07] Siterizer commented on #116
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] #116 closed, assigned to Siterizer

[2021-11-04 16:07] Siterizer commented on #126
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] #126 closed

[2021-11-04 16:07] Siterizer commented on #131
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:07] #131 closed

[2021-11-04 16:08] Siterizer commented on #146
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #146 closed

[2021-11-04 16:08] Siterizer commented on #156
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #156 closed

[2021-11-04 16:08] Siterizer commented on #188
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #188 closed

[2021-11-04 16:08] Siterizer commented on #197
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #197 closed

[2021-11-04 16:08] Siterizer commented on #198
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #198 closed, assigned to Siterizer

[2021-11-04 16:08] Siterizer commented on #203
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #203 closed

[2021-11-04 16:08] Siterizer commented on #209
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #209 closed

[2021-11-04 16:08] Siterizer commented on #211
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #211 closed

[2021-11-04 16:08] Siterizer commented on #212
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:08] #212 closed

[2021-11-04 16:09] Siterizer commented on #214
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:09] #214 closed

[2021-11-04 16:09] Siterizer commented on #215
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:09] #215 closed

[2021-11-04 16:10] Siterizer commented on #216
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #216 closed, assigned to Siterizer

[2021-11-04 16:10] Siterizer commented on #217
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #217 closed

[2021-11-04 16:10] Siterizer commented on #218
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #218 closed, assigned to Siterizer

[2021-11-04 16:10] Siterizer commented on #219
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #219 closed

[2021-11-04 16:10] Siterizer commented on #220
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #220 closed, assigned to NewWorldDev

[2021-11-04 16:10] Siterizer commented on #221
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #221 closed

[2021-11-04 16:10] Siterizer commented on #224
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #224 closed

[2021-11-04 16:10] Siterizer commented on #226
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #226 closed

[2021-11-04 16:10] Siterizer commented on #232
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #232 closed

[2021-11-04 16:10] Siterizer commented on #234
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:10] #234 closed

[2021-11-04 16:11] Siterizer commented on #235
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:11] #235 closed

[2021-11-04 16:11] Siterizer commented on #236
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:11] #236 closed

[2021-11-04 16:11] Siterizer commented on #237
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:11] #237 closed

[2021-11-04 16:11] Siterizer commented on #238
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:11] #238 closed

[2021-11-04 16:11] Siterizer commented on #239
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:11] #239 closed

[2021-11-04 16:11] Siterizer commented on #240
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:11] #240 closed

[2021-11-04 16:12] Siterizer commented on #241
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:13] #241 closed

[2021-11-04 16:13] Siterizer commented on #242
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:13] #242 closed

[2021-11-04 16:13] Siterizer commented on #244
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:13] #244 closed

[2021-11-04 16:13] Siterizer commented on #245
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:14] Siterizer commented on #246
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:14] #246 closed

[2021-11-04 16:15] Siterizer commented on #247
Sorry, end of the support. Statement:
https://github.com/Siterizer/new-world-fishing-bot#new-world-fishing-bot-end-of-support

[2021-11-04 16:15] #247 closed

[2022-11-14 17:38] SergeyGuns opened #249 "Release plz or use docker for easy build"
I'm waiting build, can't reproduce environment to assemble by myself.
Can you add a dockerfile to build?
`pip install -r requirements.txt` throw err
i have no python practice
release a new version please